<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>

    <ui:define name="styles">
        <style type="text/css">
        </style>
    </ui:define>


    <ui:define name="scripts">
        <script type="text/javascript">
            $(document).ready(function () {
                $(".sidebar-left-content ul li a").removeClass("menu-open");
                $(".sidebar-left-content ul li").removeClass("active");
                $("#menu_plano_de_ensino").addClass("menu-open");
                $("#meus_planos_ensino_professor").addClass("active");
                $("body").addClass("sb-l-m").addClass("sb-l-disable-animation");
            });
        </script>
    </ui:define>

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-table"></i>
                      </span>
                <span class="panel-title"> Horários dos Docentes</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a id="btnSalvar" href="#"
                           class="form-control btn btn-info fa fa-plus-circle"
                           onclick="PF('dlgAdicionar').show()"> Novo horário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit #{alteracoesCalendDocenteController.horarioSelecionado != null ? '':'disabled'}"
                           onclick="PF('dlgEditar').show()"> Editar Horário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesCalendDocenteController.horarioSelecionado != null ? '':'disabled'}"
                           onclick="confirmaExclusao()"> Excluir Horário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnImportar"
                           href="#{facesContext.externalContext.requestContextPath}/administracao/horario/carga_hr_docente.xhtml"
                           class="form-control btn btn-dark fa fa-trash"> Importar Horários</a>
                    </div>
                </h:panelGroup>
                <hr class="short alt"/>
                <div class="row">
                    <div class="col-xs-12">
                        <h:form id="formTabela" prependId="false">
                            <p:contextMenu for="tabelaHorarios">
                                <p:menuitem value="Editar" update=":formEditar:dlgEditar" icon="fa fa-edit"
                                            oncomplete="PF('dlgEditar').show()"/>
                                <p:menuitem value="Deletar" icon="fa fa-trash" onclick="confirmaExclusao()"/>
                            </p:contextMenu>
                            <p:dataTable id="tabelaHorarios" widgetVar="tabelaHorarios"
                                         value="#{alteracoesCalendDocenteController.listaHorarios}" var="horario"
                                         selectionMode="single"
                                         selection="#{alteracoesCalendDocenteController.horarioSelecionado}"
                                         rowKey="#{horario.id}" reflow="true" rows="10" paginator="true"
                                         filteredValue="#{alteracoesCalendDocenteController.listaHorariosFiltrados}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20" emptyMessage="Nenhum Horário Encontrado">

                                <p:ajax event="rowSelect" update="panelMenu :formEditar:dlgEditar"/>

                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Horários dos Docentes"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2"
                                                      value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaHorarios').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{horario.docente.matricula}" filterMatchMode="contains"
                                          headerText="Matrícula">
                                    <h:outputText value="#{horario.docente.matricula}"/>
                                </p:column>

                                <p:column filterBy="#{horario.docente.nome}" filterMatchMode="contains"
                                          headerText="Nome">
                                    <h:outputText value="#{horario.docente.nome}"/>
                                </p:column>

                                <p:column filterBy="#{horario.calendarioAcademico.referencia}"
                                          filterMatchMode="contains" headerText="Calend. Acadêmico">
                                    <h:outputText value="#{horario.calendarioAcademico.referencia}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <p:growl for="msgGlobal" autoUpdate="true" showDetail="true"/>
        <p:blockUI block="tabelaHorarios" trigger="tabelaHorarios">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>

        <h:form id="formAdicionar" prependId="false">
            <p:dialog widgetVar="dlgAdicionar" id="dlgAdicionar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Adicionar Novo Horário
                </f:facet>

                <!--Primeira linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                        <label for="inputDocente">Docente </label>
                        <p:autoComplete id="inputDocente" forceSelection="true"
                                        placeholder="Selecione um Docente"
                                        value="#{alteracoesCalendDocenteController.novoHorario.docente}"
                                        converter="#{docenteConverter}" style="width: 100%"
                                        dropdown="true" effect="clip" var="docente"
                                        itemLabel="#{docente.nome}" itemValue="#{docente}"
                                        completeMethod="#{completeDocenteController.completeDocente}"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-4 col-md-offset-1">
                        <label for="inputCalend">Calendário Acadêmico </label>
                        <p:selectOneMenu id="inputCalend"
                                         value="#{alteracoesCalendDocenteController.novoHorario.calendarioAcademico}"
                                         converter="converterCalendarioAcad" effect="clip"
                                         style="width:100%" filter="true" filterMatchMode="startsWith">
                            <f:selectItems value="#{alteracoesCalendDocenteController.listaCalendarios}" var="calend"
                                           itemLabel="#{calend.referencia}" itemValue="#{calend}"/>
                        </p:selectOneMenu>
                    </div>
                </div>

                <!--Segunda Linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputDisciplina">Disciplinas </label>
                        <p:autoComplete id="inputDisciplina" forceSelection="true"
                                        placeholder="Nome ou Código"
                                        value="#{alteracoesCalendDocenteController.novoHorario.disciplinas}"
                                        converter="#{disciplinaConverter}" style="width: 100%"
                                        panelStyle="width: 100%;" multiple="true" var="disciplina"
                                        itemValue="#{disciplina}" itemLabel="#{disciplina.nome}"
                                        completeMethod="#{alteracoesCalendDocenteController.completeDisciplinas}">
                            <p:ajax event="itemSelect"/>
                            <p:ajax event="itemUnselect"/>
                        </p:autoComplete>
                    </div>
                </div>

                <p:messages for="formAdicionar" showDetail="true" autoUpdate="true" closable="true"/>

                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesCalendDocenteController.salvarHorario}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgAdicionar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog widgetVar="dlgEditar" id="dlgEditar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade" style="height: auto">
                <f:facet name="header">
                    <i class="fa fa-edit"></i> Editar Horário
                </f:facet>

                <!--Primeira linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-4 col-md-offset-1">
                        <label for="inputEditCalend">Calendário Acadêmico </label>
                        <p:selectOneMenu id="inputEditCalend" required="true"
                                         value="#{alteracoesCalendDocenteController.horarioSelecionado.calendarioAcademico}"
                                         converter="converterCalendarioAcad" effect="clip"
                                         style="width:100%" filter="true" filterMatchMode="startsWith">
                            <f:selectItems value="#{alteracoesCalendDocenteController.listaCalendarios}" var="calend"
                                           itemLabel="#{calend.referencia}" itemValue="#{calend}"/>
                        </p:selectOneMenu>
                    </div>
                </div>

                <!--Segunda Linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputDisciplina">Disciplinas </label>
                        <p:autoComplete id="inputEditDisciplina" forceSelection="true"
                                        required="true" placeholder="Nome ou Código"
                                        value="#{alteracoesCalendDocenteController.horarioSelecionado.disciplinas}"
                                        converter="#{disciplinaConverter}" style="width: 100%"
                                        panelStyle="width: 100%;" multiple="true" var="disciplina"
                                        itemValue="#{disciplina}" itemLabel="#{disciplina.nome}"
                                        completeMethod="#{alteracoesCalendDocenteController.completeDisciplinas}">
                            <p:ajax event="itemSelect"/>
                            <p:ajax event="itemUnselect"/>
                        </p:autoComplete>
                    </div>
                </div>

                <p:messages for="formEditar" showDetail="true" autoUpdate="true" closable="true"/>

                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesCalendDocenteController.editarHorario}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgEditar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>
        <h:form>
            <p:remoteCommand name="excluir" action="#{alteracoesCalendDocenteController.excluirHorario}"/>
        </h:form>
    </ui:define>

</ui:composition>