<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <title>SIGEPLANE - INÍCIO</title>
    <meta name="keywords" content="Plano Ensino Faculdade Católica Tocantins Palmas"/>
    <meta name="description" content="Sigeplane - Sistema de Gestão de Plano de Ensino"/>
    <meta name="author" content="Filipe D. Abreu &amp; Ranieu Sousa"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Font CSS (Via CDN) -->
    <!--<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600'/>-->

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css"
          href="#{facesContext.externalContext.requestContextPath}/resources/skin/default_skin/css/theme.css"/>

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css"
          href="#{facesContext.externalContext.requestContextPath}/resources/admin-tools/admin-forms/css/admin-forms.css"/>

    <!-- Possibilidade de novos Arquivos de Estilo -->
    <ui:insert name="styles"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    <style type="text/css">
        /*Sobescritas do primefaces*/
        .ui-growl {
            top: 65px !important;
        }

        .ui-autocomplete .ui-autocomplete-dropdown{
            margin-left: -16px;
            width: 16px !important;
        }

        .ui-messages-error, .ui-message-error{
            border: 0 !important;
            box-shadow: 0px 0px 5px #C23232 !important;
            color: #ffffff !important;
            background-color: #C23232 !important;
        }
        .ui-messages-info, .ui-message-info{
            border: 0 !important;
            box-shadow: 0px 0px 5px #1E91CA !important;
            color: #FFFFFF !important;
            background-color: #1E91CA !important;
        }

        .ui-selectonemenu .ui-selectonemenu-trigger{
            padding: 0 !important;
        }

        body.sb-l-m #sidebar_left {
            z-index: 1022;
        }

        body{
            min-height: 0% !important;
        }

        html{
            overflow: hidden;
        }

        #main{
            height: 100%;
            max-height: 100%;
        }
        #content_wrapper{
            height: 100%;
            max-height: 100%;
        }
        #content{
            max-height: 100%;
            overflow: auto;
        }
    </style>

</h:head>

<h:body styleClass="dashboard-page sb-l-o sb-r-c">
    <!-- For Demo Purposes - Theme Settings Pane -->
    <div id="skin-toolbox">
        <div class="panel">
            <div class="panel-heading">
        <span class="panel-icon">
          <i class="fa fa-gear text-primary"></i>
        </span>
                <span class="panel-title"> Opções do Tema</span>
            </div>
            <div class="panel-body pn">
                <ul class="nav nav-list nav-list-sm pl15 pt10" role="tablist">
                    <li class="active">
                        <a href="#toolbox-header" role="tab" data-toggle="tab">Barra Topo</a>
                    </li>
                    <li>
                        <a href="#toolbox-sidebar" role="tab" data-toggle="tab">Lateral</a>
                    </li>
                </ul>
                <div class="tab-content p20 ptn pb15">
                    <div role="tabpanel" class="tab-pane active" id="toolbox-header">
                        <form id="toolbox-header-skin">
                            <h4 class="mv20">Header Skins</h4>

                            <div class="skin-toolbox-swatches">
                                <div class="checkbox-custom checkbox-disabled fill mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin8" checked="checked" value=""/>
                                    <label for="headerSkin8">Light</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-primary mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin1" value="bg-primary"/>
                                    <label for="headerSkin1">Primary</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-info mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin3" value="bg-info"/>
                                    <label for="headerSkin3">Info</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-warning mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin4" value="bg-warning"/>
                                    <label for="headerSkin4">Warning</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-danger mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin5" value="bg-danger"/>
                                    <label for="headerSkin5">Danger</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-alert mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin6" value="bg-alert"/>
                                    <label for="headerSkin6">Alert</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-system mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin7" value="bg-system"/>
                                    <label for="headerSkin7">System</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-success mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin2" value="bg-success"/>
                                    <label for="headerSkin2">Success</label>
                                </div>
                                <div class="checkbox-custom fill mb5">
                                    <input type="radio" name="headerSkin" id="headerSkin9" value="bg-dark"/>
                                    <label for="headerSkin9">Dark</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="toolbox-sidebar">
                        <form id="toolbox-sidebar-skin">
                            <h4 class="mv20">Sidebar Skins</h4>

                            <div class="skin-toolbox-swatches">
                                <div class="checkbox-custom fill mb5">
                                    <input type="radio" name="sidebarSkin" checked="checked" id="sidebarSkin3"
                                           value=""/>
                                    <label for="sidebarSkin3">Dark</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-disabled mb5">
                                    <input type="radio" name="sidebarSkin" id="sidebarSkin1" value="sidebar-light"/>
                                    <label for="sidebarSkin1">Light</label>
                                </div>
                                <div class="checkbox-custom fill checkbox-light mb5">
                                    <input type="radio" name="sidebarSkin" id="sidebarSkin2"
                                           value="sidebar-light light"/>
                                    <label for="sidebarSkin2">Lighter</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-group mn br-t p15">
                    <a href="#" id="clearLocalStorage"
                       class="btn btn-primary btn-block pb10 pt10">Clear LocalStorage</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Theme Settings Pane -->

    <!-- Start: Main -->
    <div id="main">

        <p:growl for="globalMessages" autoUpdate="true" showDetail="true" />

        <ui:insert name="navbar"/>

        <ui:insert name="sidebar"/>

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper" style="background-color: #F5F5F5;">

            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <ui:insert name="content"/>
            </section>
            <!-- End: Content -->

            <!--&lt;!&ndash; Begin: Page Footer &ndash;&gt;-->
            <!--<footer id="content-footer">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                        <!--<span class="footer-legal"></span>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 text-right">-->
                        <!--<span class="footer-meta">Voltar ao Topo</span>-->
                        <!--<a href="#content" class="footer-return-top">-->
                            <!--<span class="fa fa-arrow-up"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</footer>-->
            <!--&lt;!&ndash; End: Page Footer &ndash;&gt;-->

        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->

    <h:form id="form-logout">
        <p:remoteCommand name="logout" action="#{segurancaController.logout}"/>
    </h:form>

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- jQuery -->
    <!--<script src="/resources/vendor/jquery/jquery-1.11.1.min.js"></script>-->
    <!--<script src="/resources/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>-->

    <!-- HighCharts Plugin -->
    <script src="#{facesContext.externalContext.requestContextPath}/resources/vendor/plugins/highcharts/highcharts.js"></script>

    <!-- Sparklines Plugin -->
    <script src="#{facesContext.externalContext.requestContextPath}/resources/vendor/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Simple Circles Plugin -->
    <script src="#{facesContext.externalContext.requestContextPath}/resources/vendor/plugins/circles/circles.js"></script>

    <!-- JvectorMap Plugin + US Map (more maps in plugin/assets folder) -->
    <script src="#{facesContext.externalContext.requestContextPath}/resources/vendor/plugins/jvectormap/jquery.jvectormap.min.js"></script>
    <script src="#{facesContext.externalContext.requestContextPath}/resources/vendor/plugins/jvectormap/assets/jquery-jvectormap-us-lcc-en.js"></script>

    <!-- Theme Javascript -->
    <script src="#{facesContext.externalContext.requestContextPath}/resources/js/utility/utility.js"></script>
    <script src="#{facesContext.externalContext.requestContextPath}/resources/js/demo/demo.js"></script>
    <script src="#{facesContext.externalContext.requestContextPath}/resources/js/main.js"></script>

    <!-- Widget Javascript -->
    <script src="#{facesContext.externalContext.requestContextPath}/resources/js/demo/widgets.js"></script>

    <!-- Possibilidade de novos scripts -->
    <ui:insert name="scripts"/>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init Demo JS
            Demo.init();

            // Init Widget Demo JS
            // demoHighCharts.init();

            // Because we are using Admin Panels we use the OnFinish
            // callback to activate the demoWidgets. It's smoother if
            // we let the panels be moved and organized before
            // filling them with content from various plugins

            // Init plugins used on this page
            // HighCharts, JvectorMap, Admin Panels

            // Init Admin Panels on widgets inside the ".admin-panels" container
            $('.admin-panels').adminpanel({
                grid: '.admin-grid',
                draggable: true,
                preserveGrid: true,
                mobile: false,
                onStart: function () {
                    // Do something before AdminPanels runs
                },
                onFinish: function () {
                    $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');

                    // Init the rest of the plugins now that the panels
                    // have had a chance to be moved and organized.
                    // It's less taxing to organize empty panels
                    demoHighCharts.init();
                    runVectorMaps(); // function below
                },
                onSave: function () {
                    $(window).trigger('resize');
                }
            });

            // Widget VectorMap
            function runVectorMaps() {

                // Jvector Map Plugin
                var runJvectorMap = function () {
                    // Data set
                    var mapData = [900, 700, 350, 500];
                    // Init Jvector Map
                    $('#WidgetMap').vectorMap({
                        map: 'us_lcc_en',
                        //regionsSelectable: true,
                        backgroundColor: 'transparent',
                        series: {
                            markers: [{
                                attribute: 'r',
                                scale: [3, 7],
                                values: mapData
                            }]
                        },
                        regionStyle: {
                            initial: {
                                fill: '#E5E5E5'
                            },
                            hover: {
                                "fill-opacity": 0.3
                            }
                        },
                        markers: [{
                            latLng: [37.78, -122.41],
                            name: 'San Francisco,CA'
                        }, {
                            latLng: [36.73, -103.98],
                            name: 'Texas,TX'
                        }, {
                            latLng: [38.62, -90.19],
                            name: 'St. Louis,MO'
                        }, {
                            latLng: [40.67, -73.94],
                            name: 'New York City,NY'
                        }],
                        markerStyle: {
                            initial: {
                                fill: '#a288d5',
                                stroke: '#b49ae0',
                                "fill-opacity": 1,
                                "stroke-width": 10,
                                "stroke-opacity": 0.3,
                                r: 3
                            },
                            hover: {
                                stroke: 'black',
                                "stroke-width": 2
                            },
                            selected: {
                                fill: 'blue'
                            },
                            selectedHover: {}
                        },
                    });
                    // Manual code to alter the Vector map plugin to
                    // allow for individual coloring of countries
                    var states = ['US-CA', 'US-TX', 'US-MO',
                        'US-NY'
                    ];
                    var colors = [bgWarningLr, bgPrimaryLr, bgInfoLr, bgAlertLr];
                    var colors2 = [bgWarning, bgPrimary, bgInfo, bgAlert];
                    $.each(states, function (i, e) {
                        $("#WidgetMap path[data-code=" + e + "]").css({
                            fill: colors[i]
                        });
                    });
                    $('#WidgetMap').find('.jvectormap-marker')
                            .each(function (i, e) {
                                $(e).css({
                                    fill: colors2[i],
                                    stroke: colors2[i]
                                });
                            });
                }

                if ($('#WidgetMap').length) {
                    runJvectorMap();
                }
            }


        });
    </script>

    <!-- END: PAGE SCRIPTS -->

</h:body>

</html>