<!--
  Created by IntelliJ IDEA.
  User: filipe
  Date: 02/07/2015
  Time: 16:02
-->
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top" style="z-index: 1023">
        <div class="navbar-branding">
            <a class="navbar-brand" href="#{facesContext.externalContext.requestContextPath}/home.xhtml">
                <strong>SIGE</strong>PLANE
            </a>
            <span id="toggle_sidemenu_l" class="fa fa-bars"></span>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="sidebar-menu-toggle hidden" href="#">
                    <span class="ad ad-ruby fs18"></span>
                </a>
            </li>
            <li class="hidden-xs">
                <a class="request-fullscreen toggle-active" href="#">
                    <span class="fa fa-expand"></span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown hidden">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="flag-xs flag-us"></span> US
                </a>
                <ul class="dropdown-menu pv5 animated animated-short flipInX" role="menu">
                    <li>
                        <a href="javascript:void(0);">
                            <span class="flag-xs flag-de mr10"></span> Brasil </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="flag-xs flag-tr mr10"></span> Turkish </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="flag-xs flag-es mr10"></span> Spanish </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                    <h:panelGroup rendered="#{segurancaController.usuarioLogado.fotoPerfil == null}">
                        <img src="#{facesContext.externalContext.requestContextPath}/resources/img/avatar/user_default.png" alt="avatar" class="mw30 br64 mr15"/>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{segurancaController.usuarioLogado.fotoPerfil != null}">
                        <img src="#{arquivosController.getImagem(segurancaController.usuarioLogado.fotoPerfil)}" alt="avatar" class="mw30 br64 mr15"/>
                    </h:panelGroup>

                    #{segurancaController.usuarioLogado.nome}
                    <span class="caret caret-tp hidden-xs"></span>
                </a>
                <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                    <li class="dropdown-footer">
                        <a href="#{facesContext.externalContext.requestContextPath}/perfil_usuario.xhtml" class="animated animated-short fadeInUp">
                            <span class="fa fa-user"></span> Perfil </a>
                    </li>
                    <li class="dropdown-footer">
                        <a href="#" class="" onclick="logout()">
                            <span class="fa fa-power-off pr5"></span> Sair do Sistema </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- End: Header -->
</ui:composition>