<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        >


    <!-- Start: Sidebar Left -->
    <aside id="sidebar_left" class="nano nano-primary affix">

        <!-- Start: Sidebar Left Content -->
        <div class="sidebar-left-content nano-content">

            <!-- Start: Sidebar Left Menu -->
            <ul class="nav sidebar-menu">
                <li class="sidebar-label pt20">Início</li>
                <li class="active">
                    <a href="#{facesContext.externalContext.requestContextPath}/home.xhtml">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="sidebar-title">Dashboard</span>
                    </a>
                </li>

                <!--Menu para usuários administradores do sistema-->
                <h:panelGroup rendered="#{facesContext.externalContext.isUserInRole('NDE')
                                            or facesContext.externalContext.isUserInRole('ADMIN')}">
                    <li class="sidebar-label pt20">Administração</li>
                    <li>
                        <a class="accordion-toggle" href="#">
                            <span class="fa fa-database"></span>
                            <span class="sidebar-title">Cadastros Básicos</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="nav sub-nav">
                            <li>
                                <a class="accordion-toggle" href="#">
                                    <span class="fa fa-users"></span>
                                    Professores
                                    <span class="caret"></span>
                                </a>
                                <ul class="nav sub-nav">
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/usuarios/cadastro_professores.xhtml">
                                            <span class="fa fa-table"></span>
                                            Cadastro
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/usuarios/carga_docentes.xhtml">
                                            <span class="fa fa-upload"></span>
                                            Importar Dados
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/usuarios/titulacoes/carga_titulacoes.xhtml">
                                            <span class="fa fa-upload"></span>
                                            Importar Titulacões
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="accordion-toggle" href="#">
                                    <span class="fa fa-graduation-cap"></span>
                                    Alunos
                                    <span class="caret"></span>
                                </a>
                                <ul class="nav sub-nav">
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/usuarios/alteracoes_discentes.xhtml">
                                            <span class="fa fa-table"></span>
                                            Cadastro
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/usuarios/carga_discentes.xhtml">
                                            <span class="fa fa-upload"></span>
                                            Subir Dados
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="accordion-toggle" href="#">
                                    <span class="fa fa-puzzle-piece"></span>
                                    Disciplinas
                                    <span class="caret"></span>
                                </a>
                                <ul class="nav sub-nav">
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/disciplinas/alteracoes_disciplinas.xhtml">
                                            <span class="fa fa-table"></span>
                                            Cadastro
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/disciplinas/carga_disciplinas.xhtml">
                                            <span class="fa fa-upload"></span>
                                            Subir Dados
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="accordion-toggle" href="#">
                                    <span class="fa fa-flask"></span>
                                    Cursos
                                    <span class="caret"></span>
                                </a>
                                <ul class="nav sub-nav">
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/cursos/alteracoes_cursos.xhtml">
                                            <span class="fa fa-table"></span>
                                            Cadastro
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/cursos/carga_cursos.xhtml">
                                            <span class="fa fa-upload"></span>
                                            Subir Dados
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="accordion-toggle" href="#">
                            <span class="fa fa-calendar-o"></span>
                            <span class="sidebar-title">Calendário Acadêmico</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="nav sub-nav">
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/administracao/calendario/cadastro_calend_academico.xhtml">
                                    <span class="fa fa-calendar"></span>
                                    Calendários
                                </a>
                            </li>
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/administracao/calendario/cadastro_calend_disciplina.xhtml">
                                    <span class="fa fa-puzzle-piece"></span>
                                    Disciplinas
                                </a>
                            </li>
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/administracao/calendario/cadastro_calend_professor.xhtml">
                                    <span class="fa fa-users"></span>
                                    Professores
                                </a>
                            </li>
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/administracao/calendario/cadastro_calend_aluno.xhtml">
                                    <span class="fa fa-graduation-cap"></span>
                                    Alunos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="accordion-toggle" href="#">
                            <span class="fa fa-leanpub"></span>
                            <span class="sidebar-title"> Plano de Ensino</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="nav sub-nav">
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/administracao/config_envio_email/configuracao.xhtml">
                                    <span class="fa fa-e"></span>
                                    Configurações
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="accordion-toggle" href="#">
                            <span class="fa fa-sliders"></span>
                            <span class="sidebar-title">Config. Sistema</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="nav sub-nav">
                            <li>
                                <a href="#{facesContext.externalContext.requestContextPath}/administracao/config_envio_email/configuracao.xhtml">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </a>
                            </li>
                        </ul>
                    </li>
                </h:panelGroup>
                <!--<h:panelGroup rendered="#{facesContext.externalContext.isUserInRole('DOCENTE')}">-->
                <!--<li class="sidebar-label pt20">Administração</li>-->
                <!--<li>-->
                <!--<a id="menu_plano_de_ensino" class="accordion-toggle" href="#">-->
                <!--<span class="fa fa-leanpub"></span>-->
                <!--<span class="sidebar-title"> Plano de Ensino</span>-->
                <!--<span class="caret"></span>-->
                <!--</a>-->
                <!--<ul class="nav sub-nav">-->
                <!--<li id="meus_planos_ensino_professor">-->
                <!--<a href="#{facesContext.externalContext.requestContextPath}/professores/plano_ensino/planos_ensino_professor.xhtml">-->
                <!--<span class="fa fa-e"></span>-->
                <!--Meus Planos de Ensino-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</h:panelGroup>-->
            </ul>
            <!-- End: Sidebar Menu -->

            <!-- Start: Sidebar Collapse Button -->
            <div class="sidebar-toggle-mini">
                <a href="#">
                    <span class="fa fa-sign-out"></span>
                </a>
            </div>
            <!-- End: Sidebar Collapse Button -->
        </div>
        <!-- End: Sidebar Left Content -->
    </aside>
    <!-- End: Sidebar Left -->
</ui:composition>