<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                <span class="panel-icon">
                    <i class="fa fa-puzzle-piece"></i>
                </span>
                <span class="panel-title"> Horários das Disciplinas</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a id="btnSalvar" href="#"
                           class="form-control btn btn-info fa fa-plus-circle"
                           onclick="exibeFormAdicionar();"> Novo Horário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit #{alteracoesCalendDiscController.calendRowSelecionado != null ? '':'disabled'}"
                           onclick="exibeFormEditar();"> Editar Calendário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesCalendDiscController.calendRowSelecionado != null ? '':'disabled'}"
                           onclick="confirmaExclusao();"> Excluir Calendário</a>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/calendario/carga_calend_disciplina.xhtml"
                           id="btnImportar" class="form-control btn btn-system fa fa-upload"> Importar Calendário</a>
                    </div>
                    <br/><br/>
                    <hr class="short alt"/>
                </h:panelGroup>

                <h:form id="formTabela" prependId="false">
                    <div class="row" id="div_tabela">
                        <div class="col-xs-12">
                            <p:dataTable id="tabelaCalendarios" widgetVar="tabelaCalendarios"
                                         value="#{alteracoesCalendDiscController.listaCalendComHorarios}"
                                         var="calendario"
                                         selectionMode="single"
                                         selection="#{alteracoesCalendDiscController.calendRowSelecionado}"
                                         rowKey="#{calendario.id}" reflow="true" rows="10" paginator="true"
                                         filteredValue="#{alteracoesCalendDiscController.listaHorariosFiltrados}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20">

                                <p:ajax event="rowSelect" update="panelMenu"/>

                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Calendários Acadêmicos"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2"
                                                      value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaCalendarios').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{calendario.referencia}" filterMatchMode="contains"
                                          headerText="Calend. Acadêmico">
                                    <h:outputText value="#{calendario.referencia}"/>
                                </p:column>

                                <p:column filterBy="#{calendario.status.descricao}" filterMatchMode="contains"
                                          headerText="Status do Calendário">
                                    <h:outputText value="#{calendario.status.descricao}"/>
                                </p:column>

                                <p:column filterBy="#{calendario.disciplinas.size()}" headerText="Quant. Disciplinas">
                                    <h:outputText value="#{calendario.disciplinas.size()}">
                                        <f:convertNumber integerOnly="true"/>
                                    </h:outputText>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </h:form>

                <!--Início Form Adicionar -->
                <h:form id="formAdicionar" prependId="false">
                    <h:panelGroup id="div_form_adicionar" style="display: none;" layout="block">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <label>Calendário Acadêmico </label><br/>
                                <h:selectOneMenu id="inputCalendario"
                                                 value="#{alteracoesCalendDiscController.calendarioSelecionado}"
                                                 styleClass="form-control" required="true"
                                                 converter="converterCalendarioAcad">
                                    <f:selectItem itemLabel="Selecione um calendário..." itemValue=""
                                                  noSelectionOption="true"/>
                                    <f:selectItems value="#{alteracoesCalendDiscController.listaCalendarios}"
                                                   var="aux" itemLabel="#{aux.referencia}" itemValue="#{aux}"/>
                                    <f:ajax event="change" execute="@this"/>
                                </h:selectOneMenu>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="row">
                                            <label for="inputDiaSemana">Dia da Semana</label><br/>
                                            <h:selectOneMenu id="inputDiaSemana" styleClass="form-control"
                                                             value="#{alteracoesCalendDiscController.horarioDisciplinaAux.diaSemana}">
                                                <f:selectItems value="#{alteracoesCalendDiscController.diaSemanas}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-6">
                                                <p:commandLink title="Adicionar aula ao calendário!"
                                                               value=" Add horário" immediate="true"
                                                               styleClass="form-control btn btn-primary fa fa-plus"
                                                               action="#{alteracoesCalendDiscController.adicionaHorarioCalendario}">
                                                    <p:ajax event="click" process="inputDiaSemana tabelaDisciplinas"/>
                                                </p:commandLink>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <p:dataTable id="tabelaDisciplinas" widgetVar="tabelaDisciplinas"
                                                     var="disciplina"
                                                     value="#{alteracoesCalendDiscController.disciplinas}" rows="5"
                                                     paginator="true" selectionMode="single" reflow="true"
                                                     selection="#{alteracoesCalendDiscController.horarioDisciplinaAux.disciplina}"
                                                     rowKey="#{disciplina.id}">
                                            <p:column headerText="Nome">
                                                <h:outputText value="#{disciplina.nome}"/>
                                            </p:column>

                                            <p:column headerText="Código">
                                                <h:outputText value="#{disciplina.codigo}"/>
                                            </p:column>

                                            <p:column headerText="Turma">
                                                <h:outputText value="#{disciplina.turma}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="short alt"/>
                        <div class="row">
                            <div class="col-xs-12">
                                <p:dataTable id="tabelaHrAdd" widgetVar="tabelaHrAdd" rows="5"
                                             paginator="true" paginatorPosition="bottom"
                                             value="#{alteracoesCalendDiscController.horarioDisciplinas}"
                                             var="calendAux" reflow="true">
                                    <f:facet name="header">
                                        Disciplinas do Calendário
                                    </f:facet>
                                    <p:column headerText="Dia Semana">
                                        <h:outputText value="#{calendAux.diaSemana.descricao}"/>
                                    </p:column>
                                    <p:column headerText="Cod. Disciplina">
                                        <h:outputText value="#{calendAux.disciplina.codigo}"/>
                                    </p:column>
                                    <p:column headerText="Nome Disciplina">
                                        <h:outputText value="#{calendAux.disciplina.nome}"/>
                                    </p:column>
                                    <p:column headerText="Remover" style="text-align: center">
                                        <h:commandButton id="teste" value="Excluir" immediate="true"
                                                         styleClass="btn btn-dark"
                                                         actionListener="#{alteracoesCalendDiscController.removeHorarioCalendario(calendAux)}">
                                            <f:ajax execute="@this" render="tabelaHrAdd tabelaDisciplinas"/>
                                        </h:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-xs-6 col-md-2 col-md-offset-4">
                                <p:commandLink value=" Salvar" ajax="true"
                                               styleClass="form-control btn btn-info fa fa-floppy-o"
                                               action="#{alteracoesCalendDiscController.salvaHorario}"/>
                            </div>
                            <div class="col-xs-6 col-md-2" style="padding-top: 0">
                                <p:commandLink styleClass="form-control btn btn-default"
                                               value=" Cancelar" immediate="true"
                                               onclick="ocultaFormAdicionar()" update="tabelaHrAdd tabelaDisciplinas"
                                               action="#{alteracoesCalendDiscController.limparFormAdicionar}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                </h:form>
                <!--Fim Form Adicionar -->

                <!--Início Form Editar -->
                <h:form id="formEditar" prependId="false">
                    <h:panelGroup id="div_form_editar" style="display: none;" layout="block">
                        <div class="row">
                            <div class="col-xs-12 col-md-9">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <div class="row">
                                            <label for="inputDiaSemana">Dia da Semana</label><br/>
                                            <h:selectOneMenu id="inputEditDiaSemana" styleClass="form-control"
                                                             value="#{alteracoesCalendDiscController.horarioDisciplinaAux.diaSemana}">
                                                <f:selectItems value="#{alteracoesCalendDiscController.diaSemanas}"/>
                                            </h:selectOneMenu>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6 col-md-offset-6">
                                                <p:commandLink title="Adicionar aula ao calendário!"
                                                               value=" Add horário" immediate="true"
                                                               styleClass="form-control btn btn-primary fa fa-plus"
                                                               action="#{alteracoesCalendDiscController.adicionaHorarioCalendario}">
                                                    <p:ajax event="click" process="inputEditDiaSemana tabelaDisciplinasEditar"/>
                                                </p:commandLink>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8">
                                        <p:dataTable id="tabelaDisciplinasEditar" widgetVar="tabelaDisciplinasEditar"
                                                     var="disciplina"
                                                     value="#{alteracoesCalendDiscController.disciplinas}" rows="5"
                                                     paginator="true" selectionMode="single" reflow="true"
                                                     selection="#{alteracoesCalendDiscController.horarioDisciplinaAux.disciplina}"
                                                     rowKey="#{disciplina.id}">
                                            <p:column headerText="Nome">
                                                <h:outputText value="#{disciplina.nome}"/>
                                            </p:column>

                                            <p:column headerText="Código">
                                                <h:outputText value="#{disciplina.codigo}"/>
                                            </p:column>

                                            <p:column headerText="Turma">
                                                <h:outputText value="#{disciplina.turma}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="short alt"/>
                        <div class="row">
                            <div class="col-xs-12">
                                <p:dataTable id="tabelaHrEdit" widgetVar="tabelaHrAdd" rows="5"
                                             paginator="true" paginatorPosition="bottom"
                                             value="#{alteracoesCalendDiscController.calendRowSelecionado.disciplinas}"
                                             var="calendAux" reflow="true">
                                    <f:facet name="header">
                                        Disciplinas do Calendário
                                    </f:facet>
                                    <p:column headerText="Dia Semana">
                                        <h:outputText value="#{calendAux.diaSemana.descricao}"/>
                                    </p:column>
                                    <p:column headerText="Cod. Disciplina">
                                        <h:outputText value="#{calendAux.disciplina.codigo}"/>
                                    </p:column>
                                    <p:column headerText="Nome Disciplina">
                                        <h:outputText value="#{calendAux.disciplina.nome}"/>
                                    </p:column>
                                    <p:column headerText="Remover" style="text-align: center">
                                        <h:commandButton value="Excluir" immediate="true"
                                                         styleClass="btn btn-dark"
                                                         actionListener="#{alteracoesCalendDiscController.removeHorarioCalendario(calendAux)}">
                                            <f:ajax execute="@this" render="tabelaHrEdit tabelaDisciplinasEditar"/>
                                        </h:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-xs-6 col-md-2 col-md-offset-4">
                                <p:commandLink value=" Salvar" ajax="true"
                                               styleClass="form-control btn btn-info fa fa-floppy-o"
                                               action="#{alteracoesCalendDiscController.editaHorario}"/>
                            </div>
                            <div class="col-xs-6 col-md-2" style="padding-top: 0">
                                <p:commandLink styleClass="form-control btn btn-default"
                                               value=" Cancelar" immediate="true"
                                               onclick="ocultaFormEditar()" update="tabelaHrAdd tabelaDisciplinas panelMenu :formTabela:tabelaCalendarios"
                                               action="#{alteracoesCalendDiscController.limpaFormEditar}"/>
                            </div>
                        </div>
                    </h:panelGroup>
                </h:form>
                <!--Fim Form Editar -->


            </div>
        </div>

        <h:form>
            <p:remoteCommand name="excluir" action="#{alteracoesCalendDiscController.excluiHorario}"/>
            <p:remoteCommand name="inicializaFormAdicionar"
                             action="#{alteracoesCalendDiscController.inicializaFormAdicionar}" immediate="true"
                             update="tabelaDisciplinas"/>
            <p:remoteCommand name="inicializaFormEditar"
                             action="#{alteracoesCalendDiscController.inicializaFormEditar}" immediate="true"
                             update="tabelaDisciplinasEditar tabelaHrEdit"/>
        </h:form>

        <p:growl autoUpdate="true" showDetail="true" escape="false"/>
        <p:blockUI block="tabelaCalendarios" trigger="tabelaCalendarios">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>
    </ui:define>

    <ui:define name="scripts">
        <script type="application/javascript">
            function confirmaExclusao() {
                if (confirm("Deseja realmente Excluir?")) {
                    excluir();
                }
            }

            function ocultaFormAdicionar() {
                $('#div_tabela').fadeIn('slow');
                $('#panelMenu').fadeIn('slow');
                $('#div_form_adicionar').fadeOut('slow');
            }

            function exibeFormAdicionar() {
                inicializaFormAdicionar();
                $('#div_tabela').fadeOut('slow');
                $('#panelMenu').fadeOut('slow');
                $('#div_form_adicionar').fadeIn('slow');
            }

            function ocultaFormEditar() {
                $('#div_tabela').fadeIn('slow');
                $('#panelMenu').fadeIn('slow');
                $('#div_form_editar').fadeOut('slow');
            }

            function exibeFormEditar() {
                inicializaFormEditar();
                $('#div_tabela').fadeOut('slow');
                $('#panelMenu').fadeOut('slow');
                $('#div_form_editar').fadeIn('slow');
            }
        </script>

    </ui:define>

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>
</ui:composition>