<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="true" data-panel-remove="false"
             data-panel-title="true" data-panel-collapse="false">

            <div class="panel-heading">
                <span class="panel-icon">
                    <i class="fa fa-table"></i>
                </span>
                <span class="panel-title"> Calendários Acadêmicos</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>

            <div class="panel-body">
                <h:panelGroup id="div_menus" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a href="#{facesContext.externalContext.requestContextPath}/administracao/calendario/carga_calend_academico.xhtml"
                           id="btnImportar"
                           class="form-control btn btn-system fa fa-upload"> Importar Calendário</a>
                    </div>
                    <!--<div class="col-xs-12 col-md-2">-->
                        <!--<a id="btnSalvar" href="#"-->
                           <!--onclick="exibeFormAdicionar()"-->
                           <!--class="form-control btn btn-info fa fa-plus-circle">-->
                            <!--Novo Calendário-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit
                           #{alteracoesCalendController.calendAcadSelecionado != null
                           and !alteracoesCalendController.calendAcadSelecionado.status.equals(facesUtil.getStatusCalendario(2)) ? '':'disabled'}"
                           onclick="exibeFormEditar()">
                            Editar Calendário
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a class="form-control btn btn-primary fa fa-cogs #{alteracoesCalendController.calendAcadSelecionado != null ? '':'disabled'}"
                           onclick="PF('dialogAtivarCalend').show();"> Alterar Status</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesCalendController.calendAcadSelecionado != null ? '':'disabled'}"
                           onclick="confirmaExclusao()">
                            Excluir Calendário
                        </a>
                    </div>

                    <br/><br/>

                    <hr class="short alt"/>
                </h:panelGroup>

                <h:form id="formTabela" prependId="false">
                    <div id="div_calendarios" class="row">
                        <div class="col-xs-12">
                            <p:dataTable id="tabelaCalendarios" widgetVar="tabelaCalendarios"
                                         value="#{alteracoesCalendController.lista}" var="calendario"
                                         selectionMode="single"
                                         selection="#{alteracoesCalendController.calendAcadSelecionado}"
                                         rowKey="#{calendario.id}" rows="10" paginator="true"
                                         filteredValue="#{alteracoesCalendController.listaFiltrada}"
                                         paginatorPosition="bottom" reflow="true"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20">
                                <p:ajax event="rowSelect" update="div_menus :formTabelaEditar:tabelaAulasEditar"/>
                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Calendários Acadêmicos"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2 text-right"
                                                      value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaCalendarios').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column filterBy="#{calendario.referencia}" filterMatchMode="contains"
                                          headerText="Calend. Acadêmico">
                                    <h:outputText value="#{calendario.referencia}"/>
                                </p:column>
                                <p:column filterBy="#{calendario.status.descricao}" filterMatchMode="contains"
                                          headerText="Status">
                                    <h:outputText value="#{calendario.status.descricao}"/>
                                </p:column>
                                <p:column filterBy="#{calendario.aulasCalendario.size()}" filterMatchMode="contains"
                                          headerText="Dias Letivos">
                                    <h:outputText value="#{calendario.aulasCalendario.size()}"/>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </h:form>

                <h:panelGroup id="div_edit_calend" style="display: none;" layout="block">
                    <div class="row">
                        <h:form id="formInputsEditar" prependId="false">
                            <div class="col-xs-12 col-md-3">
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="inputEditTipoAula">Tipo de Aula</label>
                                        <h:selectOneMenu id="inputEditTipoAula"
                                                         value="#{alteracoesCalendController.aulaAuxiliar.tipoAula}"
                                                         styleClass="form-control"
                                                         pt:placeholder="Selecione um Tipo!">
                                            <f:selectItems value="#{alteracoesCalendController.tiposAula}"
                                                           var="tipo"
                                                           itemLabel="#{tipo.descricao}" itemValue="#{tipo}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="inputDiaSemanaEdit">Dia da Semana</label>
                                        <h:selectOneMenu id="inputDiaSemanaEdit"
                                                         value="#{alteracoesCalendController.aulaAuxiliar.diaSemana}"
                                                         styleClass="form-control"
                                                         pt:placeholder="Dia da Semana!">
                                            <f:selectItems value="#{alteracoesCalendController.diasSemana}"
                                                           var="dia" itemLabel="#{dia.descricao}"
                                                           itemValue="#{dia}"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-8">
                                        <label for="inputEditDataAula">Data da Aula</label><br/>
                                        <h:inputText id="inputEditDataAula"
                                                     value="#{alteracoesCalendController.aulaAuxiliar.dataAula}"
                                                     pt:type="date" pt:placeholder="Data da Aula"
                                                     pt:class="form-control">
                                            <f:convertDateTime locale="pt_br" pattern="yyyy-MM-dd" timeZone="GMT-3:00"/>
                                        </h:inputText>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-4">
                                        <h:outputLabel value="&amp;nbsp" escape="false"/> <br/>
                                        <h:commandButton value="Adicionar" styleClass="btn btn-success">
                                            <f:ajax event="click" render="tabelaAulasEditar grow messages"
                                                    execute="inputEditDataAula inputDiaSemanaEdit inputEditTipoAula"
                                                    listener="#{alteracoesCalendController.adicionaAulaCalendario}"/>
                                        </h:commandButton>
                                    </div>
                                </div>
                            </div>
                        </h:form>

                        <h:form id="formTabelaEditar" prependId="false">
                            <div class="col-xs-12 col-md-9">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p:dataTable id="tabelaAulasEditar" widgetVar="tabelaAulasEditar"
                                                     rows="5" paginator="true" paginatorPosition="bottom"
                                                     value="#{alteracoesCalendController.calendAcadSelecionado.aulasCalendario}"
                                                     var="dia">
                                            <f:facet name="header">
                                                Aulas do Calendàrio
                                            </f:facet>
                                            <p:column headerText="Dia da Semana">
                                                <h:outputText value="#{dia.diaSemana}"/>
                                            </p:column>
                                            <p:column headerText="Data da Aula">
                                                <h:outputText value="#{dia.dataAula}">
                                                    <f:convertDateTime locale="pt_BR" pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </p:column>
                                            <p:column headerText="Tipo da Aula">
                                                <h:outputText value="#{dia.tipoAula.descricao}"/>
                                            </p:column>
                                            <p:column headerText="Remover" style="text-align: center">
                                                <h:commandButton value="Excluir" immediate="true"
                                                                 styleClass="btn btn-dark"
                                                                 actionListener="#{alteracoesCalendController.removeAulaCalendario(dia)}">
                                                    <f:ajax execute="@this" render="tabelaAulasEditar"/>
                                                </h:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>

                    <h:form id="formSubimitEditar" prependId="false">
                        <div class="modal-footer">
                            <div class="col-xs-6 col-md-2 col-md-offset-4">
                                <p:commandLink value=" Editar Calendário"
                                               styleClass="form-control btn btn-info fa fa-floppy-o"
                                               action="#{alteracoesCalendController.editarCalendario}"/>
                            </div>
                            <div class="col-xs-6 col-md-2" style="padding-top: 0">
                                <p:commandLink styleClass="form-control btn btn-default" immediate="true"
                                               value=" Cancelar" action="#{alteracoesCalendController.limparFormEditar}"
                                               onclick="ocultaFormEditar()"
                                               update="div_edit_calend :formTabela:tabelaCalendarios div_menus"/>
                            </div>
                        </div>
                    </h:form>
                </h:panelGroup>
            </div>
        </div>

        <h:form id="formAtivarCalendario" prependId="false">
            <p:dialog id="dialogAtivarCalend" widgetVar="dialogAtivarCalend" showEffect="fade" hideEffect="fade"
                      draggable="true" resizable="false" closeOnEscape="true" dynamic="true" header="Alterar Status Calendário"
                      modal="true" width="380px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label for="statusCalend">Status Calendário</label>
                            <h:selectOneMenu id="statusCalend"
                                             value="#{alteracoesCalendController.vrNewStatus}"
                                             styleClass="form-control" required="true">
                                <f:selectItems value="#{alteracoesCalendController.listStatusCalend}" var="status"
                                               itemValue="#{status}" itemLabel="#{status.descricao}"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-2 col-md-4">
                            <h:commandButton value=" Mudar" styleClass="btn btn-success fa fa-check"
                                             style="color: white;">
                                <f:ajax event="click" execute="statusCalend" listener="#{alteracoesCalendController.mudarStatusCalendario}"/>
                            </h:commandButton>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <p:commandLink onclick="PF('dialogAtivarCalend').hide();" value="  Cancelar"
                                           styleClass="btn btn-danger fa fa-times" action="#{alteracoesCalendController.limpaFormAtivarCalend}"
                                    update="div_menus :formTabela:tabelaCalendarios statusCalend"/>
                        </div>
                    </div>
                </div>
            </p:dialog>
        </h:form>

        <h:form>
            <p:remoteCommand name="excluir" action="#{alteracoesCalendController.excluirCalendario}"/>
        </h:form>

        <p:growl id="grow" autoUpdate="true" showDetail="true" escape="false"/>
        <p:blockUI block="tabelaCalendarios" trigger="tabelaCalendarios">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>
    </ui:define>

    <ui:define name="styles">
        <style type="text/css">
            #inputDocente_input {
                width: 100%;
            }

            #inputDataAula_input {
                display: block;
                width: 100%;
                height: 39px;
                padding: 9px 12px;
                font-size: 13px;
                line-height: 1.49;
                color: #555555;
                background-color: #ffffff;
                background-image: none;
                border: 1px solid #dddddd;
                border-radius: 0px;
                -webkit-transition: border-color ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s;
                transition: border-color ease-in-out .15s;
            }

            .modal {
                z-index: 1024 !important;
            }

            .inputSpinner-pf {
                width: 100%;
            }

            .inputSpinner-pf input {
                width: 100%;
            }
        </style>
    </ui:define>

    <ui:define name="scripts">
        <!-- cdn for modernizr, if you haven't included it already -->
        <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
        <!-- polyfiller file to detect and load polyfills -->
        <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>

        <script type="text/javascript">
            webshims.setOptions('waitReady', false);
            webshims.setOptions('forms-ext', {types: 'date'});
            webshims.polyfill('forms forms-ext');
        </script>
        <script type="text/javascript">
            function confirmaExclusao() {
                if (confirm("Deseja realmente Excluir?")) {
                    excluir();
                }
            }

            function ocultaFormEditar() {
                $('#div_calendarios').fadeIn('slow');
                $('#div_menus').fadeIn('slow');
                $('#div_edit_calend').fadeOut('slow');
            }

            function exibeFormEditar() {
                $('#div_calendarios').fadeOut('slow');
                $('#div_menus').fadeOut('slow');
                $('#div_edit_calend').fadeIn('slow');
            }
            function ocultaFormAdicionar() {
                $('#div_calendarios').fadeIn('slow');
                $('#div_menus').fadeIn('slow');
                $('#div_add_calend').fadeOut('slow');
            }

            function exibeFormAdicionar() {
                $('#div_calendarios').fadeOut('slow');
                $('#div_menus').fadeOut('slow');
                $('#div_add_calend').fadeIn('slow');
            }
        </script>
    </ui:define>

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>
</ui:composition>