<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>

    <ui:define name="styles">
        <style type="text/css">
            #inputDocente_input {
                width: 100%;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-table"></i>
                      </span>
                <span class="panel-title"> Horários dos Professores</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a id="btnSalvar" href="#"
                           class="form-control btn btn-info fa fa-plus-circle"
                           onclick="abrirFormAdd();"> Novo horário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit #{alteracoesCalendDocenteController.horarioSelecionado != null ? '':'disabled'}"
                           onclick="exibeFormEditar();"> Editar Horário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesCalendDocenteController.horarioSelecionado != null ? '':'disabled'}"
                           onclick="confirmaExclusao();"> Excluir Horário</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnImportar"
                           href="#{facesContext.externalContext.requestContextPath}/administracao/horario/carga_hr_docente.xhtml"
                           class="form-control btn btn-system fa fa-upload"> Importar Horários</a>
                    </div>
                    <br/><br/>
                    <hr class="short alt"/>
                </h:panelGroup>

                <div id="div_form_tabela" class="row">
                    <div class="col-xs-12">
                        <h:form id="formTabela" prependId="false">
                            <p:dataTable id="tabelaHorarios" widgetVar="tabelaHorarios"
                                         value="#{alteracoesCalendDocenteController.listaHorarios}" var="horario"
                                         selectionMode="single"
                                         selection="#{alteracoesCalendDocenteController.horarioSelecionado}"
                                         rowKey="#{horario.id}" reflow="true" rows="10" paginator="true"
                                         filteredValue="#{alteracoesCalendDocenteController.listaHorariosFiltrados}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20" emptyMessage="Nenhum Horário Encontrado">

                                <p:ajax event="rowSelect" update="panelMenu"/>

                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Horários dos Professores"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2"
                                                      value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaHorarios').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{horario.docente.matricula}" filterMatchMode="contains"
                                          headerText="Matrícula" width="20%">
                                    <h:outputText value="#{horario.docente.matricula}"/>
                                </p:column>

                                <p:column filterBy="#{horario.docente.nome}" filterMatchMode="contains"
                                          headerText="Nome" width="35%">
                                    <h:outputText value="#{horario.docente.nome}"/>
                                </p:column>

                                <p:column filterBy="#{horario.disciplinas.size()}" filterMatchMode="equals"
                                          headerText="Qtd. Disciplinas" width="20%">
                                    <h:outputText value="#{horario.disciplinas.size()}"/>
                                </p:column>

                                <p:column filterBy="#{horario.calendarioAcademico.referencia}"
                                          filterMatchMode="contains" headerText="Calend. Acadêmico" width="25%">
                                    <h:outputText value="#{horario.calendarioAcademico.referencia}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>

                <div id="div_form_add" class="row" style="display: none;padding-left: 15px;padding-right: 15px">
                    <h:form id="formAdicionar" prependId="false">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Adicionar Horário</h1>
                            </div>
                        </div>
                        <h:panelGroup id="conteudoFormAdd">
                            <div class="row">
                                <!--Primeira Coluna do Formulário-->
                                <div class="col-xs-12 col-md-4">
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="inputCalend">Calendário Acadêmico </label>
                                            <p:selectOneMenu id="inputCalend"
                                                             value="#{alteracoesCalendDocenteController.novoHorario.calendarioAcademico}"
                                                             converter="converterCalendarioAcad" effect="clip"
                                                             style="width:100%" filter="true" required="true"
                                                             filterMatchMode="startsWith">
                                                <f:selectItem itemLabel="Selecione um calendário..." itemValue=""
                                                              noSelectionOption="true"/>
                                                <f:selectItems
                                                        value="#{alteracoesCalendDocenteController.listaCalendarios}"
                                                        var="calend"
                                                        itemLabel="#{calend.referencia}" itemValue="#{calend}"/>
                                                <p:ajax event="change" process="@this"
                                                        listener="#{alteracoesCalendDocenteController.inicializaPicklistDisciplinas}"
                                                        update="inputDisciplina"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="inputDocente">Professor </label><br/>
                                            <p:autoComplete id="inputDocente" forceSelection="true"
                                                            placeholder="Digite nome ou matrícula"
                                                            value="#{alteracoesCalendDocenteController.novoHorario.docente}"
                                                            converter="docenteConverter"
                                                            style="width: 100%;" required="true"
                                                            dropdown="true" effect="clip" var="docente"
                                                            itemLabel="#{docente.nome}" itemValue="#{docente}"
                                                            completeMethod="#{alteracoesCalendDocenteController.completeProfessor}"/>
                                        </div>
                                    </div>
                                </div>

                                <!--Segunda Coluna do Formulário-->
                                <div class="col-xs-12 col-md-offset-1 col-md-7">
                                    <label for="inputDisciplina">Disciplinas </label>
                                    <p:pickList id="inputDisciplina" var="disciplina" effect="fade"
                                                value="#{alteracoesCalendDocenteController.disciplinaDualListModel}"
                                                itemValue="#{disciplina}" itemLabel="#{disciplina.nome}"
                                                showCheckbox="true" showSourceFilter="true"
                                                showTargetFilter="true" filterMatchMode="contains"
                                                converter="disciplinaConverter" required="true">

                                        <f:facet name="sourceCaption">Disponíveis</f:facet>
                                        <f:facet name="targetCaption">Selecionadas</f:facet>

                                        <p:column style="width:10%">
                                            <h:outputText value=" "/><h:outputText styleClass="fa fa-puzzle-piece"/>
                                        </p:column>

                                        <p:column style="width:90%;">
                                            <h:outputText value="#{disciplina.nome}"/>
                                        </p:column>
                                    </p:pickList>
                                </div>
                            </div>
                        </h:panelGroup>
                        <br/>

                        <div class="modal-footer">
                            <div class="row">
                                <p:commandLink value="Salvar" ajax="true"
                                               styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                               action="#{alteracoesCalendDocenteController.salvarHorario}"/>
                                <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                        onclick="fechaFormAdd();"> Cancelar
                                </button>
                            </div>
                        </div>
                    </h:form>
                </div>

                <div id="div_form_editar" class="row" style="display: none;padding-left: 15px;padding-right: 15px">
                    <h:form id="formEditar" prependId="false">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>Editar Horário</h1>
                            </div>
                        </div>
                        <h:panelGroup id="conteudoFormEditar">
                            <div class="row">
                                <!--Segunda Coluna do Formulário-->
                                <div class="col-xs-12">
                                    <label for="inputDisciplinaEdit">Disciplinas </label>
                                    <p:pickList id="inputDisciplinaEdit" var="disciplina" effect="fade"
                                                value="#{alteracoesCalendDocenteController.disciplinaDualListModel}"
                                                itemValue="#{disciplina}" itemLabel="#{disciplina.nome}"
                                                showCheckbox="true" showSourceFilter="true"
                                                showTargetFilter="true" filterMatchMode="contains"
                                                converter="disciplinaConverter" required="true"
                                                requiredMessage="Deve Existir ao menos 1(uma) disciplina selecionada para o professor!">

                                        <f:facet name="sourceCaption">Disponíveis</f:facet>
                                        <f:facet name="targetCaption">Selecionadas</f:facet>

                                        <p:column style="width:10%">
                                            <h:outputText value=" "/><h:outputText styleClass="fa fa-puzzle-piece"/>
                                        </p:column>

                                        <p:column style="width:90%;">
                                            <h:outputText value="#{disciplina.nome}"/>
                                        </p:column>
                                    </p:pickList>
                                </div>
                            </div>
                        </h:panelGroup>
                        <br/>

                        <div class="modal-footer">
                            <div class="col-xs-6 col-md-2 col-md-offset-4">
                                <p:commandLink value="   Salvar" ajax="true"
                                               styleClass="form-control btn btn-info fa fa-floppy-o"
                                               action="#{alteracoesCalendDocenteController.editarHorario}"/>
                            </div>
                            <div class="col-xs-6 col-md-2" style="padding-top: 0">
                                <p:commandLink styleClass="form-control btn btn-default"
                                               value=" Cancelar" immediate="true"
                                               onclick="ocultaFormEditar()"
                                               update="inputDisciplinaEdit panelMenu :formTabela:tabelaHorarios"
                                               action="#{alteracoesCalendDocenteController.limpaFormEditar}"/>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>

        <!--Componentes Diversos-->
        <p:growl autoUpdate="true" showDetail="true" escape="false"/>
        <p:blockUI block="tabelaHorarios" trigger="tabelaHorarios">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>
        <h:form>
            <p:remoteCommand name="excluir" action="#{alteracoesCalendDocenteController.excluirHorario}"/>
            <p:remoteCommand name="inicializaFormEditar"
                             action="#{alteracoesCalendDocenteController.inicializaFormEditar}" immediate="true"
                             update="inputDisciplinaEdit"/>
        </h:form>
    </ui:define>

    <ui:define name="scripts">
        <script type="application/javascript">
            function confirmaExclusao() {
                if (confirm("Deseja realmente Excluir?")) {
                    excluir();
                }
            }

            function abrirFormAdd() {
                $("#div_form_tabela").fadeOut(200);
                $("#panelMenu").fadeOut(200);
                $("#div_form_add").fadeIn(800);
            }

            function fechaFormAdd() {
                $("#div_form_tabela").fadeIn(200);
                $("#panelMenu").fadeIn(200);
                $("#div_form_add").fadeOut(800);
            }

            function exibeFormEditar() {
                inicializaFormEditar();
                $("#div_form_tabela").fadeOut(200);
                $("#panelMenu").fadeOut(200);
                $("#div_form_editar").fadeIn(800);
            }

            function ocultaFormEditar() {
                $("#div_form_tabela").fadeIn(200);
                $("#panelMenu").fadeIn(200);
                $("#div_form_editar").fadeOut(800);
            }
        </script>

    </ui:define>

</ui:composition>