@import '~vuetify/src/stylus/main'

.quillWrapper .ql-snow.ql-toolbar
  border 2px solid rgba(0, 0, 0, 0.54);

.quillWrapper .ql-container.ql-snow
  border 2px solid rgba(0, 0, 0, 0.54);

.q-layout-header, .q-layout-footer
  z-index 199

.q-layout-drawer
  z-index 199

.theme--light.v-list .v-list__tile--link:hover, .theme--light.v-list .v-list__tile--highlighted, .theme--light.v-list .v-list__group__header:hover
  background rgba(0, 0, 0, 0.1)

.v-breadcrumbs
  padding-top: 0px !important
