<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>

    <ui:define name="scripts">
        <script type="application/javascript">
            function confirmaExclusao() {
                if (confirm("Deseja realmente Excluir?")) {
                    excluirDiscente();
                }
            }
        </script>

    </ui:define>

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-table"></i>
                      </span>
                <span class="panel-title"> Cadastro de Discentes</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a id="btnSalvar" href="#"
                           class="form-control btn btn-info fa fa-plus-circle"
                           onclick="PF('dlgAdicionar').show()"> Novo Discente</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit #{alteracoesDiscenteController.discenteSelecionado != null ? '':'disabled'}"
                           onclick="PF('dlgEditar').show()"> Editar Discente</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesDiscenteController.discenteSelecionado != null ? '':'disabled'}"
                           onclick="confirmaExclusao()"> Excluir Discente</a>
                    </div>
                </h:panelGroup>
                <hr class="short alt"/>
                <div class="row">
                    <div class="col-xs-12">
                        <h:form id="formTabela" prependId="false">
                            <p:contextMenu for="tabelaDiscentes">
                                <p:menuitem value="Editar" update=":formEditar:dlgEditar" icon="fa fa-edit"
                                            oncomplete="PF('dlgEditar').show()"/>
                                <p:menuitem value="Deletar" icon="fa fa-trash" onclick="confirmaExclusao()"/>
                            </p:contextMenu>
                            <p:dataTable id="tabelaDiscentes" widgetVar="tabelaDiscentes"
                                         value="#{alteracoesDiscenteController.lista}" var="discente"
                                         selectionMode="single"
                                         selection="#{alteracoesDiscenteController.discenteSelecionado}"
                                         rowKey="#{discente.id}" reflow="true" rows="10" paginator="true"
                                         filteredValue="#{alteracoesDiscenteController.listaFiltro}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20">

                                <p:ajax event="rowSelect" update="panelMenu :formEditar:dlgEditar"/>

                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Tabela de Discentes"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2"
                                                      value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaDiscentes').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{discente.matricula}" filterMatchMode="contains"
                                          headerText="Matrícula">
                                    <h:outputText value="#{discente.matricula}"/>
                                </p:column>

                                <p:column filterBy="#{discente.nome}" filterMatchMode="contains" headerText="Nome">
                                    <h:outputText value="#{discente.nome}"/>
                                </p:column>

                                <p:column filterBy="#{discente.email}" filterMatchMode="contains" headerText="E-mail">
                                    <h:outputText value="#{discente.email}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <p:growl autoUpdate="true"/>
        <p:blockUI block="tabelaDiscentes" trigger="tabelaDiscentes">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>

        <h:form id="formAdicionar" prependId="false">
            <p:dialog widgetVar="dlgAdicionar" id="dlgAdicionar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Adicionar Novo Discente
                </f:facet>

                <!--Primeira linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputNome">Nome </label>
                        <h:inputText id="inputNome" pt:required="true"
                                     pt:placeholder="Digite o nome do discente"
                                     value="#{alteracoesDiscenteController.novoDiscente.nome}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputMatricula">Matrícula </label>
                        <h:inputText id="inputMatricula" pt:required="true"
                                     pt:placeholder="Digite a matrícula do discente"
                                     value="#{alteracoesDiscenteController.novoDiscente.matricula}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <!--Segunda Linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEmail">E-mail </label>
                        <h:inputText id="inputEmail" pt:required="true"
                                     pt:placeholder="Digite o email do discente"
                                     pt:type="email" value="#{alteracoesDiscenteController.novoDiscente.email}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesDiscenteController.salvarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgAdicionar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog widgetVar="dlgEditar" id="dlgEditar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade" style="height: auto">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Editar - #{alteracoesDiscenteController.discenteSelecionado.nome}
                </f:facet>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditNome">Nome </label>
                        <h:inputText id="inputEditNome" pt:required="true"
                                     pt:placeholder="Digite o nome do discente"
                                     value="#{alteracoesDiscenteController.discenteSelecionado.nome}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditMatricula">Matrícula </label>
                        <h:inputText id="inputEditMatricula" pt:required="true"
                                     pt:placeholder="Digite a matrícula do discente"
                                     value="#{alteracoesDiscenteController.discenteSelecionado.matricula}"
                                     styleClass="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditEmail">E-mail </label>
                        <h:inputText id="inputEditEmail" pt:required="true"
                                     pt:placeholder="Digite o email do discente"
                                     pt:type="email" value="#{alteracoesDiscenteController.discenteSelecionado.email}"
                                     styleClass="form-control"/>
                    </div>
                </div>
                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesDiscenteController.editarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgEditar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>
        <h:form>
            <p:remoteCommand name="excluirDiscente" action="#{alteracoesDiscenteController.excluirDiscente}"/>
        </h:form>
    </ui:define>

</ui:composition>