<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>

    <ui:define name="scripts">
        <script type="application/javascript">
            function confirmaExclusao() {
                if (confirm("Deseja realmente Excluir?")) {
                    excluirDocente();
                }
            }
        </script>

    </ui:define>

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-table"></i>
                      </span>
                <span class="panel-title"> Cadastro de Docentes</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a id="btnSalvar" href="#"
                           class="form-control btn btn-info fa fa-plus-circle"
                           onclick="PF('dlgAdicionar').show()"> Novo Docente</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit #{alteracoesDocenteController.docenteSelecionado != null ? '':'disabled'}"
                           onclick="PF('dlgEditar').show()"> Editar Docente</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesDocenteController.docenteSelecionado != null ? '':'disabled'}"
                           onclick="confirmaExclusao()"> Excluir Docente</a>
                    </div>
                </h:panelGroup>
                <hr class="short alt"/>
                <div class="row">
                    <div class="col-xs-12">
                        <h:form id="formTabela" prependId="false">
                            <p:contextMenu for="tabelaDocentes">
                                <p:menuitem value="Editar" update=":formEditar:dlgEditar" icon="fa fa-edit"
                                            oncomplete="PF('dlgEditar').show()"/>
                                <p:menuitem value="Deletar" icon="fa fa-trash" onclick="confirmaExclusao()"/>
                            </p:contextMenu>
                            <p:dataTable id="tabelaDocentes" widgetVar="tabelaDocentes"
                                         value="#{alteracoesDocenteController.lista}" var="docente"
                                         selectionMode="single" selection="#{alteracoesDocenteController.docenteSelecionado}"
                                         rowKey="#{docente.id}" reflow="true" rows="10" paginator="true"
                                         filteredValue="#{alteracoesDocenteController.listaFiltro}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20">

                                <p:ajax event="rowSelect" update="panelMenu :formEditar:dlgEditar"/>

                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Tabela de Docentes"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2" value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaDocentes').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{docente.matricula}" filterMatchMode="contains" headerText="Matrícula">
                                    <h:outputText value="#{docente.matricula}"/>
                                </p:column>

                                <p:column filterBy="#{docente.nome}" filterMatchMode="contains" headerText="Nome">
                                    <h:outputText value="#{docente.nome}"/>
                                </p:column>

                                <p:column filterBy="#{docente.email}" filterMatchMode="contains" headerText="email">
                                    <h:outputText value="#{docente.email}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <p:growl autoUpdate="true"/>
        <p:blockUI block="tabelaDocentes" trigger="tabelaDocentes">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>

        <h:form id="formAdicionar" prependId="false">
            <p:dialog widgetVar="dlgAdicionar" id="dlgAdicionar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Adicionar Novo Docente
                </f:facet>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputNome">Nome </label>
                        <h:inputText id="inputNome" pt:required="true"
                                     pt:placeholder="Digite o nome do docente"
                                     value="#{alteracoesDocenteController.novoDocente.nome}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputMatricula">Matrícula </label>
                        <h:inputText id="inputMatricula" pt:required="true"
                                     pt:placeholder="Digite a matrícula do docente"
                                     value="#{alteracoesDocenteController.novoDocente.matricula}"
                                     styleClass="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEmail">E-mail </label>
                        <h:inputText id="inputEmail" pt:required="true"
                                     pt:placeholder="Digite o email do docente"
                                     pt:type="email" value="#{alteracoesDocenteController.novoDocente.email}"
                                     styleClass="form-control"/>
                    </div>
                </div>
                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesDocenteController.salvarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgAdicionar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog widgetVar="dlgEditar" id="dlgEditar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Editar - #{alteracoesDocenteController.docenteSelecionado.nome}
                </f:facet>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditNome">Nome </label>
                        <h:inputText id="inputEditNome" pt:required="true"
                                     pt:placeholder="Digite o nome do docente"
                                     value="#{alteracoesDocenteController.docenteSelecionado.nome}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditMatricula">Matrícula </label>
                        <h:inputText id="inputEditMatricula" pt:required="true"
                                     pt:placeholder="Digite a matrícula do docente"
                                     value="#{alteracoesDocenteController.docenteSelecionado.matricula}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditEmail">E-mail </label>
                        <h:inputText id="inputEditEmail" pt:required="true"
                                     pt:placeholder="Digite o email do docente"
                                     pt:type="email" value="#{alteracoesDocenteController.docenteSelecionado.email}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditBacharelado">Bacharelado </label>
                        <h:inputText id="inputEditBacharelado"
                                     pt:placeholder="Digite a formação"
                                     value="#{alteracoesDocenteController.docenteSelecionado.bacharelado}"
                                     styleClass="form-control"/>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputTecnologo">Tecnólogo </label>
                        <h:inputText id="inputTecnologo"
                                     pt:placeholder="Digite a formação"
                                     value="#{alteracoesDocenteController.docenteSelecionado.tecnologo}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputLicenciatura">Licenciatura </label>
                        <h:inputText id="inputLicenciatura"
                                     pt:placeholder="Digite a formação"
                                     value="#{alteracoesDocenteController.docenteSelecionado.licenciatura}"
                                     styleClass="form-control"/>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEspecializacao">Especializaçao </label>
                        <h:inputText id="inputEspecializacao"
                                     pt:placeholder="Digite a formação"
                                     value="#{alteracoesDocenteController.docenteSelecionado.especializacao}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputMestrado">Mestrado </label>
                        <h:inputText id="inputMestrado"
                                     pt:placeholder="Digite a formação"
                                     value="#{alteracoesDocenteController.docenteSelecionado.mestrado}"
                                     styleClass="form-control"/>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputDoutorado">Doutorado </label>
                        <h:inputText id="inputDoutorado"
                                     pt:placeholder="Digite a formação"
                                     value="#{alteracoesDocenteController.docenteSelecionado.doutorado}"
                                     styleClass="form-control"/>
                    </div>
                </div>
                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesDocenteController.editarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgEditar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>
        <h:form>
            <p:remoteCommand name="excluirDocente" action="#{alteracoesDocenteController.excluirDocente}"/>
        </h:form>
    </ui:define>

</ui:composition>