<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>
    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-upload"></i>
                      </span>
                <span class="panel-title"> Importar Discentes</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title="Expandir/Recolher Painel"></a></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <h:form id="formSalvar" prependId="false">
                            <p:commandLink styleClass="btn btn-primary form-control fa fa-save"
                                           action="#{cargaDiscenteController.salvarDados}"
                                           value=" Salvar Dados" update=":formTabela:tabelaDiscentes"/>
                        </h:form>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info fa fa-question-circle form-control"
                                data-toggle="modal"
                                data-target="#modalInfo"> Layout de Importação
                        </button>
                    </div>
                </div>
                <hr class="short alt"/>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h:form id="formImportar" prependId="false">
                            <p:fileUpload mode="advanced"
                                          fileUploadListener="#{cargaDiscenteController.fileUploadListener}"
                                          cancelLabel="Cancelar" uploadLabel="Ler Arquivo" label="Buscar"
                                          required="true" requiredMessage="Upload do arquivo é obrigatório!"
                                          allowTypes="/(\.|\/)(csv)$/" update=":formTabela:tabelaDiscentes"/>
                        </h:form>
                    </div>
                </div>
                <p:messages autoUpdate="true" closable="true"/>
                <div class="row">
                    <div class="col-xs-12">
                        <h:form id="formTabela" prependId="false">
                            <p:dataTable id="tabelaDiscentes" widgetVar="tabelaDiscentes"
                                         value="#{cargaDiscenteController.discentes}" var="discente"
                                         scrollRows="20" scrollable="true" liveScroll="true"
                                         scrollHeight="400" style="margin-top: 10px"
                                         reflow="true" emptyMessage="Nenhum dado importado no momento!">
                                <f:facet name="header">
                                    Dados Importados
                                </f:facet>
                                <p:column headerText="Matrícula">
                                    <h:outputText value="#{discente.matricula}"/>
                                </p:column>

                                <p:column headerText="Nome">
                                    <h:outputText value="#{discente.nome}"/>
                                </p:column>

                                <p:column headerText="E-mail">
                                    <h:outputText value="#{discente.email}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <p:blockUI block="tabelaDiscentes" trigger="tabelaDiscentes">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>

        <!-- Modal Info Layout -->
        <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="modalInfoLabel">
            <div class="modal-dialog" role="document" style="width: 70%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="fa fa-close" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title" id="modalInfoLabel">Layout de Importação</h4>
                    </div>
                    <div class="modal-body">
                        <p:graphicImage library="img/layouts_importacao" name="discentes.png" width="100%"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Entendi</button>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>