<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <h:form id="formSalvar" prependId="false">
                    <p:commandLink styleClass="btn btn-primary" action="#{cargaDocenteController.salvarDados}"
                                   value="Salvar Dados" update=":formTabela:tabelaDocentes"/>
                </h:form>
            </div>
            <div class="col-xs-12 col-md-10">
                <h:form id="formImportar" prependId="false">
                    <p:fileUpload mode="advanced"
                                  fileUploadListener="#{cargaDocenteController.fileUploadListener}"
                                  cancelLabel="Cancelar" uploadLabel="Ler Arquivo" label="Buscar"
                                  required="true" requiredMessage="Upload do arquivo é obrigatório!"
                                  allowTypes="/(\.|\/)(csv)$/" update=":formTabela:tabelaDocentes"/>
                </h:form>
            </div>
        </div>
        <br/>
        <p:messages autoUpdate="true" closable="true"/>
        <p:blockUI block="tabelaDocentes" trigger="tabelaDocentes">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>
        <br/>

        <div class="row">
            <div class="col-xs-12">
                <h:form id="formTabela" prependId="false">
                    <p:dataTable id="tabelaDocentes" widgetVar="tabelaDocentes"
                                 value="#{cargaDocenteController.docentes}" var="docentes"
                                 scrollRows="20" scrollable="true" liveScroll="true" scrollHeight="400">
                        <p:column headerText="Matrícula">
                            <h:outputText value="#{docentes.matricula}"/>
                        </p:column>

                        <p:column headerText="Nome">
                            <h:outputText value="#{docentes.nome}"/>
                        </p:column>

                        <p:column headerText="email">
                            <h:outputText value="#{docentes.email}"/>
                        </p:column>
                    </p:dataTable>

                </h:form>
            </div>
        </div>
    </ui:define>

</ui:composition>