<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>
    <ui:define name="scripts">
        <script type="text/javascript">
            $(document).ready(function () {
                verificaSenha();
            });
            function confirmaSenha() {
                var senha = $('#inputNovaSenha').val();
                var confirm = $('#inputConfirmacao').val();
                if (confirm != null &amp;&amp; confirm != "") {
                    if (senha === confirm) {
                        $("#divSenha").removeClass("has-error");
                        $("#divConfirmSenha").removeClass("has-error");
                        $("#msgConfirmacaoSenha").html("");
                        return true;
                    } else {
                        $("#divSenha").addClass("has-error");
                        $("#divConfirmSenha").addClass("has-error");
                        $("#msgConfirmacaoSenha").html(
                                "&lt;span style='font-weight: bold; color: red;'&gt;Senhas não são iguais!&lt;/span&gt;"
                        );
                        return false;
                    }
                }
            }
        </script>
    </ui:define>
    <ui:define name="content">
        <div class="row">
            <h1 style="color: #888888;font-family: 'Droid Serif', sans-serif">Bem-vindo ao Sigeplane!</h1>
        </div>
        <h:panelGroup rendered="#{facesContext.externalContext.isUserInRole('DOCENTE')}">
            <div class="row">
                <h3>Suas Disciplinas</h3>
            </div>
            <div class="row">
                <h:form id="formEditarPlano" prependId="false">
                    <p:accordionPanel value="#{homeController.docenteLogado.horarios}" var="horario">
                        <p:tab title="Calendário Acadêmico #{horario.calendarioAcademico.referencia}">
                            <h:dataTable value="#{horario.disciplinas}" var="disciplina"
                                         styleClass="table table-responsive">
                                <h:column>
                                    <f:facet name="header">
                                        Disciplina
                                    </f:facet>
                                    <h:outputText value="#{disciplina.nome}" style="text-align: center"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        Status do Plano de Ensino
                                    </f:facet>
                                    <h:outputText
                                            value="#{homeController.statusPlanoEnsino(disciplina, horario.calendarioAcademico)}"
                                            style="text-align: center"/>
                                </h:column>
                                <h:column
                                        rendered="#{homeController.isEditaPlanoEnsino(disciplina, horario.calendarioAcademico)}">
                                    <f:facet name="header">
                                        Atualizar
                                    </f:facet>
                                    <a id="linkAtualizarPlano" class="btn btn-info fa fa-edit"
                                       href="#{facesContext.externalContext.requestContextPath}/planoEnsino/atualizacao/#{homeController.docenteLogado.primeiroNome}/#{disciplina.nome}/#{disciplina.id}/#{horario.calendarioAcademico.id}">
                                        Editar
                                    </a>
                                </h:column>
                            </h:dataTable>
                        </p:tab>
                    </p:accordionPanel>
                </h:form>
            </div>
        </h:panelGroup>

        <h:form id="formRedefinirSenha" prependId="false">
            <p:remoteCommand name="verificaSenha" actionListener="#{segurancaController.redefineSenhaUsuario}"/>
            <p:dialog id="dlgRedefineSenha" widgetVar="dlgRedefineSenha"
                      closable="false" resizable="false" dynamic="true" modal="true"
                      showEffect="fade" hideEffect="fade" width="60%">
                <f:facet name="header">
                    Redefinição de Senha
                </f:facet>

                <div class="row">
                    <div id="divSenha" class="form-group col-xs-12 col-md-6">
                        <label for="inputNovaSenha">Nova Senha </label>
                        <h:inputSecret id="inputNovaSenha"
                                       pt:placeholder="Digite a nova Senha"
                                       pt:required="true"
                                       onblur="confirmaSenha()"
                                       value="#{segurancaController.usuarioLogado.senha}"
                                       styleClass="form-control"/>
                    </div>

                    <div id="divConfirmSenha" class="form-group col-xs-12 col-md-6">
                        <label for="inputConfirmacao">Confirmação </label>
                        <h:inputSecret id="inputConfirmacao"
                                       pt:placeholder="Digite novamente a nova senha"
                                       pt:required="true"
                                       onblur="confirmaSenha()"
                                       value="#{segurancaController.usuarioLogado.senhaConfirmacao}"
                                       styleClass="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p id="msgConfirmacaoSenha"></p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p:messages autoUpdate="true"/>
                    </div>
                </div>

                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-3 col-md-offset-4 btn btn-info"
                                         action="#{segurancaController.salvaNovaSenha}"
                                         onclick="confirmaSenha()"/>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>
    </ui:define>

</ui:composition>