<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <title>Sigeplane - Login</title>
    <meta name="keywords" content="Plano Ensino Faculdade Educação Católica Tocantins UBEC"/>
    <meta name="description" content="Sigeplane - Sistema de Gestão de Plano de Ensino"/>
    <meta name="author" content="Filipe D. Abreu e Ranieu Sousa"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'/>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css"
          href="#{facesContext.externalContext.requestContextPath}/resources/skin/default_skin/css/theme.css"/>

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css"
          href="#{facesContext.externalContext.requestContextPath}/resources/admin-tools/admin-forms/css/admin-forms.css"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
     <![endif]-->
</h:head>

<h:body styleClass="external-page external-alt sb-l-c sb-r-c">
    <p:growl autoUpdate="true" sticky="true"/>
    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <!-- Begin: Content -->
            <section id="content">

                <div class="admin-form theme-info mw500" id="login">

                    <!-- Login Logo -->
                    <div class="row table-layout">
                        <img src="#{facesContext.externalContext.requestContextPath}/resources/img/logos/logo.png" title="Logo Sigeplane" style="max-width: 275px;"
                             class="center-block img-responsive"/>
                    </div>

                    <!-- Login Panel/Form -->
                    <div class="panel mt30 mb25">

                        <h:form id="form-login">
                            <div class="panel-body bg-light p25 pb15">

                                <!-- Username Input -->
                                <div class="section">
                                    <label for="username"
                                           class="field-label text-muted fs18 mb10">#{msgs.label_credencial}</label>
                                    <label for="username" class="field prepend-icon">
                                        <h:inputText id="username" styleClass="gui-input"
                                                     value="#{segurancaController.matricula}"
                                                     pt:placeholder="#{msgs.label_placeholder_credencial}"
                                                     pt:required="true"/>
                                        <label for="username" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>

                                <!-- Password Input -->
                                <div class="section">
                                    <label for="password"
                                           class="field-label text-muted fs18 mb10">#{msgs.label_senha}</label>
                                    <label for="password" class="field prepend-icon">
                                        <h:inputSecret id="password" styleClass="gui-input"
                                                       value="#{segurancaController.senha}"
                                                       pt:placeholder="#{msgs.label_placeholder_senha}"/>
                                        <label for="password" class="field-icon">
                                            <i class="fa fa-lock"></i>
                                        </label>
                                    </label>
                                </div>

                            </div>

                            <div class="panel-footer clearfix">
                                <h:commandButton styleClass="button btn-primary mr10 pull-right"
                                                 value="#{msgs.botao_entrar}" action="#{segurancaController.logar}"/>
                            </div>

                        </h:form>
                    </div>

                    <!-- Registration Links -->
                    <div class="login-links">
                        <p>
                            <a href="#" class="active" data-toggle="modal" data-target="#myModal"
                               title="Sign In">#{msgs.botao_redefinir_senha}</a>
                        </p>
                    </div>

                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->

    <h:form prependId="false">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="fa fa-close"
                                  aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <span class="fa fa-exclamation-triangle"></span>
                            #{msgs.botao_redefinir_senha}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <label for="inputEmail">Seu Email </label>
                                <h:inputText id="inputEmail" pt:required="true"
                                             pt:placeholder="Digite o email vinculado a sua matrícula"
                                             pt:type="email" value="#{segurancaController.email}"
                                             styleClass="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <p:commandLink styleClass="btn btn-primary" action="#{segurancaController.reenviaSenhaUsuario}"/>
                    </div>
                </div>
            </div>
        </div>
    </h:form>

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- Theme Javascript -->
    <script type="text/javascript"
            src="#{facesContext.externalContext.requestContextPath}/resources/js/utility/utility.js"></script>
    <script type="text/javascript"
            src="#{facesContext.externalContext.requestContextPath}/resources/js/demo/demo.js"></script>
    <script type="text/javascript"
            src="#{facesContext.externalContext.requestContextPath}/resources/js/main.js"></script>

    <!-- Page Javascript -->
    <script type="text/javascript">
        jQuery(document).ready(function () {

            "use strict";

            // Init Theme Core
            Core.init();

            // Init Demo JS
            Demo.init();

        });
    </script>

    <!-- END: PAGE SCRIPTS -->

</h:body>

</html>
