<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
        >

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>
    <ui:define name="styles">
        <style type="text/css">

        </style>
    </ui:define>
    <ui:define name="content">
        <div class="page-heading">
            <div class="media clearfix">
                <div class="media-left pr30">
                    <a href="#">
                        <p:graphicImage styleClass="media-object mw150"
                                        library="img/avatar" name="user_default.png" alt="imagem do usuário"/>
                    </a>
                </div>
                <div class="media-body va-m">
                    <h2 class="media-heading">
                        #{controleDeSeguranca.usuarioLogado.nome}
                        <small> - #{controleDeSeguranca.usuarioLogado.perfil.descricao}</small>
                    </h2>
                    <p class="lead">
                        <h:outputText value="#{controleDeSeguranca.usuarioLogado.matricula} - #{controleDeSeguranca.usuarioLogado.email}"/>
                    </p>
                    <div class="media-links">
                        <ul class="list-inline list-unstyled">
                            <li class="#{controleDeSeguranca.usuarioLogado.linkFacebook != null ? '':'hidden'}">
                                <a href="#" title="facebook link">
                                    <span class="fa fa-facebook-square fs35 text-primary"></span>
                                </a>
                            </li>
                            <li class="#{controleDeSeguranca.usuarioLogado.linkTwitter != null ? '':'hidden'}">
                                <a href="#" title="twitter link">
                                    <span class="fa fa-twitter-square fs35 text-info"></span>
                                </a>
                            </li>
                            <li class="#{controleDeSeguranca.usuarioLogado.linkGPlus != null ? '':'hidden'}">
                                <a href="#" title="google plus link">
                                    <span class="fa fa-google-plus-square fs35 text-danger"></span>
                                </a>
                            </li>
                            <li class="#{controleDeSeguranca.usuarioLogado.linkGithub != null ? '':'hidden'}">
                                <a href="segurancaController.usuarioLogado.linkGithub" title="github link">
                                    <span class="fa fa-github-square fs35 text-dark">
                                        <i style="display: none">
                                        #{controleDeSeguranca.usuarioLogado.linkGithub}
                                        </i>
                                    </span>
                                </a>
                            </li>
                            <li class="#{controleDeSeguranca.usuarioLogado.telefone != null ? '':'hidden'}">
                                <a href="#" title="phone link">
                                    <span class="fa fa-phone-square fs35 text-system">
                                        <i style="display: none">
                                        #{controleDeSeguranca.usuarioLogado.telefone}
                                        </i>
                                    </span>
                                </a>
                            </li>
                            <li class="#{controleDeSeguranca.usuarioLogado.email != null ? '':'hidden'}">
                                <a href="mailto:#{controleDeSeguranca.usuarioLogado.email}" title="#{controleDeSeguranca.usuarioLogado.email}">
                                    <span class="fa fa-envelope-square fs35 text-muted"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row hidden">
            <h:panelGroup id="panelFoto" layout="block" styleClass="col-xs-12 col-md-2">
                <p:graphicImage id="imgUsuario"
                                rendered="#{controleDeSeguranca.usuarioLogado.fotoPerfil != null}"
                                value="#{arquivosController.getImagem(controleDeSeguranca.usuarioLogado.fotoPerfil)}" styleClass="img"/>
                <p:graphicImage rendered="#{controleDeSeguranca.usuarioLogado.fotoPerfil == null}"
                                library="img/avatar" name="user_default.png" styleClass="img"/>
            </h:panelGroup>
            <div class="col-xs-12 col-md-4 col-md-offset-1">
                <div class="row">
                    <h1>#{controleDeSeguranca.usuarioLogado.nome}</h1>
                </div>
                <div class="row">
                    <h3>#{controleDeSeguranca.usuarioLogado.matricula}</h3>
                </div>
                <div class="row">
                    <h3>#{controleDeSeguranca.usuarioLogado.email}</h3>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>