<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>

    <ui:define name="scripts">
        <script type="application/javascript">
            function confirmaExclusao() {
                if (confirm("Deseja realmente Excluir?")) {
                    excluirRegistro();
                }
            }
        </script>

    </ui:define>

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-table"></i>
                      </span>
                <span class="panel-title"> Cadastro de Disciplinas</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a id="btnSalvar" href="#"
                           class="form-control btn btn-info fa fa-plus-circle"
                           onclick="PF('dlgAdicionar').show()"> Nova Disciplina</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit #{alteracoesDisciplinasController.disciplinaSelecionada != null ? '':'disabled'}"
                           onclick="PF('dlgEditar').show()"> Editar Disciplina</a>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesDisciplinasController.disciplinaSelecionada != null ? '':'disabled'}"
                           onclick="confirmaExclusao()"> Excluir Disciplina</a>
                    </div>
                </h:panelGroup>
                <hr class="short alt"/>
                <div class="row">
                    <div class="col-xs-12">
                        <h:form id="formTabela" prependId="false">
                            <p:dataTable id="tabelaDisciplinas" widgetVar="tabelaDisciplinas"
                                         value="#{alteracoesDisciplinasController.disciplinas}" var="disciplina"
                                         selectionMode="single"
                                         selection="#{alteracoesDisciplinasController.disciplinaSelecionada}"
                                         rowKey="#{disciplina.id}" reflow="true" rows="10" paginator="true"
                                         filteredValue="#{alteracoesDisciplinasController.disciplinasFiltro}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20">

                                <p:ajax event="rowSelect" update="panelMenu :formEditar:dlgEditar"/>

                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Tabela de Disciplinas"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2"
                                                      value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaDisciplinas').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{disciplina.codigo}" filterMatchMode="contains"
                                          headerText="Código">
                                    <h:outputText value="#{disciplina.codigo}"/>
                                </p:column>

                                <p:column filterBy="#{disciplina.nome}" filterMatchMode="contains" headerText="Nome">
                                    <h:outputText value="#{disciplina.nome}"/>
                                </p:column>

                                <p:column filterBy="#{disciplina.curso.nome}" filterMatchMode="contains"
                                          headerText="Curso">
                                    <h:outputText value="#{disciplina.curso.nome}"/>
                                </p:column>

                                <p:column filterBy="#{disciplina.turma}" filterMatchMode="contains" headerText="Turma">
                                    <h:outputText value="#{disciplina.turma}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <h:form id="formAdicionar" prependId="false">
            <p:dialog widgetVar="dlgAdicionar" id="dlgAdicionar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Adicionar Nova Disciplina
                </f:facet>

                <!--Primeira linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputNome">Nome </label>
                        <h:inputText id="inputNome" pt:required="true"
                                     pt:placeholder="Digite o nome da disciplina"
                                     value="#{alteracoesDisciplinasController.novaDisciplina.nome}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputCodigo">Codigo </label>
                        <h:inputText id="inputCodigo" pt:required="true"
                                     pt:placeholder="Digite código da disciplina"
                                     value="#{alteracoesDisciplinasController.novaDisciplina.codigo}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <!--Segunda Linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputCurso">Curso </label>
                        <p:selectOneMenu id="inputCurso" value="#{alteracoesDisciplinasController.novaDisciplina.curso}"
                                         converter="cursoConverter"
                                         style="width: 100%"
                                         effect="fade" filter="true" filterMatchMode="startsWith">
                            <f:selectItems value="#{alteracoesDisciplinasController.cursos}" var="curso"
                                           itemLabel="#{curso.nome}" itemValue="#{curso}"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputTurma">Turma </label>
                        <h:inputText id="inputTurma" pt:required="true"
                                     pt:placeholder="Digite a turma da disciplina"
                                     value="#{alteracoesDisciplinasController.novaDisciplina.turma}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEmenta">Ementa </label>
                        <h:inputTextarea id="inputEmenta" pt:required="true"
                                         pt:placeholder="Digite a ementa da disciplina"
                                         value="#{alteracoesDisciplinasController.novaDisciplina.ementa}"
                                         styleClass="form-control"/>
                    </div>
                </div>

                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesDisciplinasController.salvarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgAdicionar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog widgetVar="dlgEditar" id="dlgEditar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade" style="height: auto">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Editar - #{alteracoesDiscenteController.discenteSelecionado.nome}
                </f:facet>

                <!--Primeira linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditNome">Nome </label>
                        <h:inputText id="inputEditNome" pt:required="true"
                                     pt:placeholder="Digite o nome da disciplina"
                                     value="#{alteracoesDisciplinasController.disciplinaSelecionada.nome}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditCodigo">Codigo </label>
                        <h:inputText id="inputEditCodigo" pt:required="true"
                                     pt:placeholder="Digite código da disciplina"
                                     value="#{alteracoesDisciplinasController.disciplinaSelecionada.codigo}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <!--Segunda Linha do Formulário-->
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditCurso">Curso </label>
                        <p:selectOneMenu id="inputEditCurso"
                                         value="#{alteracoesDisciplinasController.disciplinaSelecionada.curso}"
                                         converter="cursoConverter"
                                         style="width: 100%"
                                         effect="fade" filter="true" filterMatchMode="startsWith">
                            <f:selectItems value="#{alteracoesDisciplinasController.cursos}" var="curso"
                                           itemLabel="#{curso.nome}" itemValue="#{curso}"/>
                        </p:selectOneMenu>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditTurma">Turma </label>
                        <h:inputText id="inputEditTurma" pt:required="true"
                                     pt:placeholder="Digite a turma da disciplina"
                                     value="#{alteracoesDisciplinasController.disciplinaSelecionada.turma}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditEmenta">Ementa </label>
                        <h:inputTextarea id="inputEditEmenta" pt:required="true"
                                         pt:placeholder="Digite a ementa da disciplina"
                                         value="#{alteracoesDisciplinasController.disciplinaSelecionada.ementa}"
                                         styleClass="form-control"/>
                    </div>
                </div>

                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesDisciplinasController.editarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgEditar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="formExcluir" prependId="false">
            <p:remoteCommand name="excluirRegistro" action="#{alteracoesDisciplinasController.excluirDisciplina}"/>
        </h:form>

        <p:growl autoUpdate="true" showDetail="true"/>
        <p:blockUI block="tabelaDisciplinas" trigger="tabelaDisciplinas">
            <i class="fa fa-graduation-cap fa-spin" style="font-size: 1.4em;"> </i>
        </p:blockUI>
    </ui:define>

</ui:composition>