<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>

    <ui:define name="scripts">
        <script type="application/javascript">
            function confirmaExclusao() {
                if (confirm("Deseja realmente Excluir?")) {
                    excluir();
                }
            }
        </script>
    </ui:define>

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-table"></i>
                      </span>
                <span class="panel-title"> Cadastro de Cursos</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                    <div class="col-xs-12 col-md-2">
                        <a id="btnSalvar" href="#"
                           class="form-control btn btn-info fa fa-plus-circle"
                           onclick="PF('dlgAdicionar').show()"> Novo Curso</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <a id="btnEditar" href="#"
                           class="form-control btn btn-success fa fa-edit #{alteracoesCursosController.cursoSelecionado != null ? '':'disabled'}"
                           onclick="PF('dlgEditar').show()"> Editar Curso</a>
                    </div>

                    <div class="col-xs-12 col-md-2">
                        <a id="btnExcluir" class="form-control btn btn-dark fa fa-trash
                           #{alteracoesCursosController.cursoSelecionado != null ? '':'disabled'}"
                           onclick="confirmaExclusao()"> Excluir Curso</a>
                    </div>
                </h:panelGroup>
                <hr class="short alt"/>
                <div class="row">
                    <div class="col-xs-12">
                        <h:form id="formTabela" prependId="false">
                            <p:contextMenu for="tabelaCursos">
                                <p:menuitem value="Editar" update=":formEditar:dlgEditar" icon="fa fa-edit"
                                            oncomplete="PF('dlgEditar').show()"/>
                                <p:menuitem value="Deletar" icon="fa fa-trash" onclick="confirmaExclusao()"/>
                            </p:contextMenu>
                            <p:dataTable id="tabelaCursos" widgetVar="tabelaCursos"
                                         value="#{alteracoesCursosController.lista}" var="curso"
                                         selectionMode="single"
                                         selection="#{alteracoesCursosController.cursoSelecionado}"
                                         rowKey="#{curso.id}" reflow="true" rows="10" paginator="true"
                                         filteredValue="#{alteracoesCursosController.listaFiltro}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,20">

                                <p:ajax event="rowSelect" update="panelMenu :formEditar:dlgEditar"/>

                                <f:facet name="header">
                                    <p:outputPanel styleClass="row">
                                        <h:outputText styleClass="col-xs-12 col-md-4" value="Tabela de Cursos"/>
                                        <h:outputText styleClass="col-xs-12 col-md-2 col-md-offset-2"
                                                      value="Procurar: "/>
                                        <h:inputText styleClass="col-xs-12 col-md-4" id="globalFilter"
                                                     onchange="PF('tabelaCursos').filter()"
                                                     pt:placeholder="Digite qualquer valor"/>
                                    </p:outputPanel>
                                </f:facet>

                                <p:column filterBy="#{curso.codigo}" filterMatchMode="contains" headerText="Código">
                                    <h:outputText value="#{curso.codigo}"/>
                                </p:column>

                                <p:column filterBy="#{curso.nome}" filterMatchMode="contains" headerText="Nome">
                                    <h:outputText value="#{curso.nome}"/>
                                </p:column>

                                <p:column filterBy="#{curso.descricao}" filterMatchMode="contains"
                                          headerText="Descriçao">
                                    <h:outputText value="#{curso.descricao}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </div>
                </div>

            </div>
        </div>

        <p:growl autoUpdate="true"/>
        <p:blockUI block="tabelaCursos" trigger="tabelaCursos">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>

        <h:form id="formAdicionar" prependId="false">
            <p:dialog widgetVar="dlgAdicionar" id="dlgAdicionar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Adicionar Novo Curso
                </f:facet>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputCodigo">Código </label>
                        <h:inputText id="inputCodigo" pt:required="true"
                                     pt:placeholder="Digite código do curso"
                                     value="#{alteracoesCursosController.novoCurso.codigo}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputNome">Nome </label>
                        <h:inputText id="inputNome" pt:required="true"
                                     pt:placeholder="Digite o nome do curso"
                                     value="#{alteracoesCursosController.novoCurso.nome}"
                                     styleClass="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputDescricao">Descrição </label>
                        <h:inputTextarea id="inputDescricao"
                                         pt:placeholder="Digite uma descriação para o curso"
                                         value="#{alteracoesCursosController.novoCurso.descricao}"
                                         styleClass="form-control"/>
                    </div>
                </div>
                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesCursosController.salvarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgAdicionar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>

        <h:form id="formEditar" prependId="false">
            <p:dialog widgetVar="dlgEditar" id="dlgEditar" dynamic="true"
                      modal="true" width="80%" showEffect="fade" hideEffect="fade">
                <f:facet name="header">
                    <i class="fa fa-plus-circle"></i> Editar - #{alteracoesCursosController.cursoSelecionado.nome}
                </f:facet>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditCodigo">Código </label>
                        <h:inputText id="inputEditCodigo" pt:required="true"
                                     pt:placeholder="Digite o código do curso"
                                     value="#{alteracoesCursosController.cursoSelecionado.codigo}"
                                     styleClass="form-control"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditNome">Nome </label>
                        <h:inputText id="inputEditNome" pt:required="true"
                                     pt:placeholder="Digite o nome do curso"
                                     value="#{alteracoesCursosController.cursoSelecionado.nome}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="inputEditDescricao">Descrição </label>
                        <h:inputText id="inputEditDescricao"
                                     pt:placeholder="Digite uma descrição para o curso"
                                     value="#{alteracoesCursosController.cursoSelecionado.descricao}"
                                     styleClass="form-control"/>
                    </div>
                </div>

                <f:facet name="footer">
                    <div class="row">
                        <h:commandButton value="Salvar" styleClass="col-xs-12 col-md-2 col-md-offset-3 btn btn-info"
                                         action="#{alteracoesCursosController.editarDados}"/>
                        <button type="button" class="col-xs-12 col-md-2 col-md-offset-1 btn btn-warning"
                                onclick="PF('dlgEditar').hide();"> Cancelar
                        </button>
                    </div>
                </f:facet>
            </p:dialog>
        </h:form>
        <h:form>
            <p:remoteCommand name="excluir" action="#{alteracoesCursosController.excluirCurso}"/>
        </h:form>
    </ui:define>

</ui:composition>