<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/templates/main.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="navbar">
        <ui:include src="/resources/templates/navbar.xhtml"/>
    </ui:define>
    <ui:define name="sidebar">
        <ui:include src="/resources/templates/sidebarLeft.xhtml"/>
    </ui:define>

    <ui:define name="scripts">
        <script type="application/javascript">
        </script>
    </ui:define>

    <ui:define name="content">
        <div class="panel sort-disable mb50" id="p3" data-panel-color="false" data-panel-remove="false"
             data-panel-title="false" data-panel-collapse="false">
            <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-mail-forward"></i>
                      </span>
                <span class="panel-title"> Configuração de Envio de E-mail pelo Sistema</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-fullscreen" title=""></a>
                </span>
            </div>
            <div class="panel-body">
                <h:form id="form" prependId="false">
                    <h:panelGroup id="panelMenu" styleClass="row" layout="block">
                        <div class="col-xs-12 col-md-2">
                            <p:commandLink id="btnSalvar"
                                           styleClass="form-control btn btn-info fa fa-plus-circle"
                                           action="#{configEnvioEmailController.salvarConfiguracao}"
                                           value="Salvar Configuração"/>
                        </div>
                    </h:panelGroup>
                    <hr class="short alt"/>
                    <h:panelGroup id="panelFormulario" styleClass="row" layout="block">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group col-xs-12 col-md-6">
                                    <label for="inputServerHost">Host do Servidor </label>
                                    <h:inputText id="inputServerHost" pt:required="true"
                                                 pt:placeholder="Digite host do servidor de email"
                                                 value="#{configEnvioEmailController.configEnvioEmail.serverHost}"
                                                 styleClass="form-control"/>
                                </div>
                                <div class="form-group col-xs-12 col-md-2">
                                    <label for="inputServerPort">Porta do Servidor</label>
                                    <h:inputText id="inputServerPort" pt:required="true"
                                                 pt:placeholder="Digite a porta"
                                                 value="#{configEnvioEmailController.configEnvioEmail.portServer}"
                                                 styleClass="form-control">
                                        <f:convertNumber integerOnly="true"/>
                                    </h:inputText>
                                </div>
                                <div class="form-group col-xs-12 col-md-4">
                                    <label for="inputSSL">Utiliza SSL </label>
                                    <br/>
                                    <p:inputSwitch id="inputSSL"
                                                   value="#{configEnvioEmailController.configEnvioEmail.usaSSL}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-4">
                                    <label for="inputAutentica">Exige Autenticação </label>
                                    <br/>
                                    <p:inputSwitch id="inputAutentica"
                                                   value="#{configEnvioEmailController.configEnvioEmail.autentica}">
                                        <p:ajax event="change" update="panelAutentica"/>
                                    </p:inputSwitch>
                                </div>
                            </div>
                            <h:panelGroup id="panelAutentica">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-6">
                                        <label for="inputConta">Conta de Autenticação</label>
                                        <h:inputText id="inputConta"
                                                     required="#{configEnvioEmailController.configEnvioEmail.autentica}"
                                                     pt:placeholder="Digite a conta para autenticar no servidor"
                                                     value="#{configEnvioEmailController.configEnvioEmail.contaAutenticacao}"
                                                     styleClass="form-control"
                                                     disabled="#{!configEnvioEmailController.configEnvioEmail.autentica}"/>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-6">
                                        <label for="inputSenha">Senha da conta</label>
                                        <h:inputText id="inputSenha"
                                                       required="#{configEnvioEmailController.configEnvioEmail.autentica}"
                                                       pt:placeholder="Digite a senha da conta" pt:type="password"
                                                       value="#{configEnvioEmailController.configEnvioEmail.senhaAutenticacao}"
                                                       styleClass="form-control"
                                                       disabled="#{!configEnvioEmailController.configEnvioEmail.autentica}"/>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </div>
                    </h:panelGroup>
                </h:form>
            </div>
        </div>

        <p:growl autoUpdate="true" />
        <p:blockUI block="panelFormulario" trigger="panelFormulario">
            <i class="fa fa-2x fa-graduation-cap fa-spin"> </i>
        </p:blockUI>

    </ui:define>

</ui:composition>